
#div_kq{
    background: none repeat scroll 0 0 white;
    padding: 5px;
    width: 300px;
}
#div_kq p{
    background-color: #000000;
    color: #ffffff;
    height: 30px;
    line-height: 30px;
    background: url("images/bg_title_right.png") repeat-x scroll left top transparent;
    padding: 0px 10px;
    font-weight: bold;
    margin: 0px;
    /*font-family: times new romans !important;*/
}
.bar_statistic{
    width: 300px;
    background-color: #ccc;
    height: 10px;
    display: block;
    /*margin: 0px 5px;*/
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}
.bar_statistic .bar_child{
    display: block;
    height: 10px;
    /*width: 100px;*/
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: green;
    cursor: pointer
}

#tbl_statistic{
    width: 300px;
    margin: 5px 0px;
}
#tbl_statistic tr td{
    padding: 2px 0px;
    font-size: 11px !important;
    color: #555;
}
#tbl_statistic tr td.last{
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 5px;
}
#tbl_statistic tr td.first{
    padding-top: 5px;
}