.ftg-items img {font-size:100% !important; max-width:290px !important}
.ftg-filters { margin: 0; padding: 0; height: 50px; }
.ftg-filters li { list-style-type: none; }
.ftg-filters li a { color: #333; float: left; margin: 0 20px 0 0; padding: 5px 10px; border-radius: 3px; }
.ftg-filters li a:hover, li a.selected { background: #333; color: #fff; text-decoration: none; }
.tile img { display: none; }
.tile .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: url(../img/opaque.png);
    opacity: 0;
    transition: opacity .5s;
    height: 100%;
}
.tile a:hover .caption {
	opacity: 1;	
}
.tile .caption p {
    margin:10px;
    color: #fff;
    font-size: 14px;	    
}
.tile > * {
    border: 5px solid #d5d5d5;
    border-radius: 4px;
}
.tile img {
    transition:transform .3s;
    -webkit-transition:-webkit-transform .3s;
    -ms-transition:-ms-transform .3s;
}
.tile:hover img {
    transform:rotate(15deg) scale(2) translate(10px,10px);
    -ms-transform:rotate(15deg) scale(2) translate(10px,10px); /* IE 9 */
    -webkit-transform:rotate(15deg) scale(2) translate(10px,10px); /* Safari and Chrome */
}
.ftg-loading-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: url(../img/overlay.png);
    color: #fff;
    z-index: 1000;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    padding:20px;
    border-top:5px solid #666;
}

@media screen and (max-width: 480px) {
    .ftg-filters li a { margin-right: 10px; }
}