/****** Toan viet vao day nhe *****/
.content{
    padding-left: 0;
    padding-right: 0;
}
.content *{
    box-sizing: border-box;
}

.title-wrapper ul li:first-child a{
    font-size: 13px;
    font-family: Arial;
    font-weight: bold;
    color: #cd000f;
}
.title-wrapper ul li a{
    font-size: 13px;
    font-family: Arial;
    font-weight: 400;
    color: #555555;
}
.title-wrapper{
    display: block;
    position: relative;
    min-height: 20px;
}
.title-wrapper ul{
    list-style: none;
}
.title-wrapper ul li{
    float: left;
}
.logo_item{
    display: block;
    width: 25px;
    float: left;
    margin-left: 10px;
    background-image: url('/images/strip.png');
    background-repeat: no-repeat;
    background-position: -51px -6px;
    height: 15px;

}
.menu-left{
    display: block;
    margin-top: 15px;
    width: 250px;
    float: left;
    margin-bottom: 90px;
    border-bottom: 1px dotted #cccccc;
}
.title-menu-left{
    display: block;
    width: 100%;
    height: 35px;
    background-color: #cd000f;
}
.title-menu-left a{
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    line-height: 35px;
    text-transform: uppercase;
    color: #ffffff;
    padding-left: 13px;
}
.menu-left-block{
    margin-top: 0;
    display: block;
    width: 100%;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;

}
.menu-left-block  ul > li{
    border-bottom: 1px dotted #cccccc;
    min-height: 30px;
    position: relative;
}
.menu-left-block  ul > li:first-child{
    border-bottom: 0;
}
.menu-left-block  ul li:first-child > a{
    font-size: 13px;
    font-family: Arial;
    font-weight: bold;
    color: #004276;
    line-height: 30px;
    margin-left: 5px;
}
.menu-left-block  ul li > a{
    font-size: 13px;
    font-family: Arial;
    font-weight: bold;
    color: #004276;
    line-height: 30px;
    margin-left: 5px;
}
.menu-left-block ul li a:hover{
    color: #55857f;
}
.menu-cap2{
    display: none;
    position: relative;
    width: 100%;
    margin-left: 0;
    border-top:1px dotted #cccccc;

}
.menu-cap2.active-menu {
    display: block;
}
.item-mn{
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 2px;
    background-color: red;
    float: left;
    margin: 9px 0 0 13px;
    position: relative;
}
.item-mn:after{
    content: "-";
    background-color: white;
    height: 2px;
    width: 6px;
    position: absolute;
    display: block;
    top: 4px;
    color: white;
    left: 2px;
}
.item-mn1{
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 2px;
    background-color: red;
    float: left;
    margin: 9px 0 0 13px;
    position: relative;
}
.item-mn1:after{
    content: "+";
    background-color: white;
    height: 2px;
    width: 6px;
    position: absolute;
    display: block;
    top: -9px;
    left: 1px;
    color: white;
}
.menu-cap2 li:first-child{
    border-bottom: 1px dotted #cccccc !important;
}
.menu-cap2 li > a{
    font-size: 13px;
    font-family: Arial;
    font-weight: bold;
    color: #555555 !important ;
    line-height: 30px;
    padding-left: 25px;
}
.menu-cap2 li a:after {
    width: 20px; 
    height: 20px;
    content: "";
    float: left;
    display: block;
    top: 7px;
    left: 13px;
    position: absolute;
    background-image: url('/images/strip.png');
    background-repeat: no-repeat;
    background-position: -100px -6px;
}
.menu-cap3 li a:after {
    width: 20px; 
    height: 20px;
    content: "";
    float: left;
    display: block;
    top: 9px;
    left: 30px;
    position: absolute;
    background-image: url('/images/strip.png');
    background-repeat: no-repeat;
    background-position: -133px -5px;
}
.menu-cap2 li:first-child a{
    font-size: 13px;
    font-family: Arial;
    font-weight: bold;
    color: #555555 !important;
    line-height: 30px;
    padding-left: 25px;
}
.menu-cap2 li:last-child{
    border-bottom: 1px dotted #cccccc !important;
}
.menu-cap3 li a{
    font-family: Arial;
    font-weight: 400 !important;
    font-size: 13px;
    color: #333333;
}
.menu-cap3 li{
    padding-left: 15px;
    display: block;
    position: relative;
}
.menu-cap3{
    display: block;
    border-bottom: 0;
}
.menu-cap3 li:first-child{
    border-top: 1px dotted #cccccc !important;
}
.menu-cap3 li:last-child{

}
.menu-cap3 li:first-child a{
    font-size: 13px;
    font-family: Arial;
    font-weight: 400 !important;
    color: #555555 !important;
    line-height: 30px;
    margin-left: 13px;
}
.menu-left-block ul > li:last-child {
    border-bottom:0;
    min-height: 30px;
}
.menu-right{
    display: block;
    position: relative;
    margin-left: 30px;
    float: left;
    margin-top: 30px;
    border-bottom: 1px dotted #cccccc;
    width: 670px;
}
.menu-right a{
    font-size: 14px;
    font-family: Arial;
    font-weight: 300;
    color: #004276;
    line-height: 33px;
    padding-left: 20px;
}
.menu-right li{
    display: block;
    position: relative;
}
.menu-right a:after {
    width: 20px; 
    height: 20px;
    content: "";
    float: left;
    display: block;
    top: 11px;
    left: 0px;
    position: absolute;
    background-image: url('/images/strip.png');
    background-repeat: no-repeat;
    background-position: -164px -10px;
}
.title-block a{
    font-size: 18px;
    color: #cd000f;
    font-weight: bold;
    font-family: Arial;
    position: relative;
}
.title-block{
    display: block;
    position: relative;
    border-bottom: 2px solid #cccccc;
    margin-top: 30px;
    height: 30px;
    bottom: -5px;
}
.title-block a:after {
    position: absolute;
    height: 2px;
    width: 100%;
    display: block;
    bottom: -10px;
    background-color: red;
    color: red;
    content: "";
}
.tex-block{
    display: block;
    margin-top: 30px;
    position: relative;
    margin-top: 45px;
}
.text-item{
    display: block;
    position: relative;
    padding: 0;
    width: 55%;
    float: left;
    min-height: 30px;
    margin-bottom: 45px;
}
.text-item h4{
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    color: #333333;
    margin-bottom: 5px;
}
.text-item p{
    font-size: 14px;
    font-family: Arial;
    font-weight: 400;
    color: #333333;
    line-height: 24px;
}
.form{
    display: block;
    position: relative;
    padding: 0;
    width: 45%;
    float: left;
    min-height: 30px;
}
.text2{
    display: block;
    margin-top: 15px;
}
#s1{
    width: 425px;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 20px;
}
#s2{
    margin-bottom: 20px;
    width: 425px;
    min-height: 140px;
    color: #777777;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    padding-left: 20px;
    padding-top: 10px;

}
#s3{
    width: 170px;
    height: 40px;
    padding-left: 20px;
    display: block;
    float: left;
}
.input{
    color: #777777;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
}

.logo-form{
    display: block;
    position: relative;
    height: 40px;
    float: left;
    width: 80px;
    margin-left: 10px;
    padding: 5px;

}
.logo-form img{
    width: 100%;
    height: 100%;
}
#s4{
    display: block;
    float: right;
    height: 40px;
    margin-right: 15px;
    width: 115px;
    background-color: #cd000f;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
    color: #ffffff;
    line-height: 36px;
    text-align: center;
    border: 0;
}
.paging-block{
    display: block;
    position: relative;
    width: 300px;
    margin: 0 auto;
    float: left;
    margin-left: 220px;
    padding: 0;
    margin-top: 15px;

}
.paging-block p{
    display: block;
    float: left;
    margin-right: 15px;
    line-height: 20px;
}
.paging-block ul{
    list-style: none;
    display: block;
    float: left;
}

.paging-block li{
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid #dadada;
    border-radius: 2px;
    background-color: #f4f4f4;
    padding: 0;
}
.paging-block .selected{
    /*float: left;*/
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid #dadada;
    border-radius: 2px;
    background-color: #df242a;
    padding: 0;
}
.paging-block .selected a{
    color: white;
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 20px;
    text-align: center;
}
.paging-block li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 20px;
    text-align: center;
}
.paging-block i{
    float: left; 
    margin: 0 6px;
    color: black;
    font-size: 18px;
    line-height: 20px;
}
.left_menu{
    width: 250px;
    margin-top: 25px;
    display: block;
    float: left;
}
.Detailed-page{
    display: block;
    position: relative;
    overflow: auto;
}

.menu-left-block1{
    margin-top: 0;
    display: block;
    width: 100%;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;

}
.menu-left-block1  ul > li{
    border-bottom: 1px dotted #cccccc;
    min-height: 30px;
    position: relative;
}
.menu-left-block1  ul li > a{
    font-size: 13px;
    font-family: Arial;
    font-weight: bold;
    color: #004276;
    line-height: 30px;
    margin-left: 5px;
}
.menu-left-block1 ul li a:hover{
    color: #55857f;
}
.text-right{
    display: block;
    position: relative;
    float: left;
    padding-left: 30px;
    width: 74%;
    margin-top: 14px;
}
.title-text1 a{
    color: #004276;
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
}
.text-right span{
    color: #777777;
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 15px;
}
.text-right h4{
    color: #333333;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 15px;
}
.text-right p{
    color: #333333;
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    margin-top: 15px;
    line-height: 20px;
}
.menu-right1{
    display: block;
    position: relative;
    margin-left: 0px;
    float: left;
    margin-top: 30px;
    width: 670px;
}
.menu-right1 a{
    font-size: 14px;
    font-family: Arial;
    font-weight: 300;
    color: #004276;
    line-height: 33px;
    padding-left: 20px;
}
.menu-right1 li{
    display: block;
    position: relative;
}
.menu-right1 a:after {
    width: 20px; 
    height: 20px;
    content: "";
    float: left;
    display: block;
    top: 11px;
    left: 0px;
    position: absolute;
    background-image: url('/images/strip.png');
    background-repeat: no-repeat;
    background-position: -164px -10px;
}