#joc-nav {
    z-index: 2;
    overflow: visible !important;
}
.content {
    padding: 20px;
    background-color: white;
    margin-bottom: 50px;
}
.library .parent-category {
    font-size: 16px;
    color: red;
    /*padding-top: 10px;*/
    padding-bottom: 10px;
    font-weight: bold;
    border-bottom: rgba(138, 131, 131, 0.17) 2px solid;
    margin-top: 30px;
}
.parent-category a {
    color: red !important;
    border-bottom: 2px solid red;
    padding-bottom: 11px;
}
.child-category {
    display: inline-block;
    margin-top: 22px;
    font-size: 14px;
    border: 1px #D4C8C8 solid;
    cursor: pointer;
    width: 20%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    height: 58px;
    vertical-align: middle;
    margin-right: 15px;
}
.child-category a {
    color: #333333;
}
.child-category:hover {
    background-color: #CA2828;
}
.child-category:hover a {
    color: white;
}
.category-menu {
    width: 228px;
    display: inline-block;
    border: 1px solid #E4E0E0;
}
.category-menu .name {
    font-size: 18px;
    text-transform: uppercase;
    text-indent: 10px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #CA2828;
}
.tree-content {
    margin-top: 10px;
}
.parent-category:first-child {
    margin-top: 10px;
}
.empty {
    margin-bottom: 150px;
    font-size: 20px;
    text-align: center;
    margin-top: 150px;
}
.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}
.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}