.ui-tabs .ui-tabs-panel {padding: 5px;}
a.title, .u-others li a:hover, .ct-entry h1 {color: #be0435;}
#head {height: 166px;}
#head .form-search, #logo .form-search { top: 75px; left: 20px; color: #d5c1cc }
#head h1 a, #logo a {height: 65px;}
#head h1 a img {margin: 7px 0 0 10px;}
.xahoi-top { width: 100%; height: 140px; padding: 0 10px;}
.xahoi-top img {margin: 0 5px 0 0px}
.ct-item .thumb img{
    width: 75px;
    height: 55px;
}
.ui-widget {
font-family: Arial, Helvetica, sans-serif;
font-size: 1.1em;
}
.u-others li {height: auto;}

.ads_style1 img {width: 146px; border: 1px #ccc solid;}
.ads_style2 img {width: 298px; border: 1px #ccc solid;}
ul.others li {background-image: url('../images/ct-vv.gif');}
.box-catnew-head h3 {background-image: url('../images/catnew-head.png');}
.box-catnew-head h3 a, .box-news-head h2 span {background-image: url('../images/title_bg.png');}
.box-catnew-head span, .main-box-head small, #navbar .box-news-head small {background-image: url('../images/arrow_down.png');}
/*.box-news-head h2 {background-image: url('../images/title_arrow.png');}*/
.box-news-head h2 {background: none; padding: 0 5px 0 0;}
.news-other h3 {background-image: url('../images/arrow_big.png'); padding: 0 0 0 15px;}
.ct-other-left {width: 98%; margin-bottom: 20px;}

.box-catnew-item .box-catnew-head {background: #CCC;}
.box-catnew-head h3 {line-height: 23px;}
.box-catnew-head h3 a {color: #333;}
.box-catnew-head h3, .box-catnew-head h3 a {background: none;}
.box-catnew-head span {background: none; height: 0;}
.box-catnew-foot {background: #e2e2e2; margin: 10px 0 -5px 0; padding: 5px 0 5px 2px;}

.box-style-1, .home-tu-van {height: auto;}
.box_1 {background: #E2E2E2; padding: 5px;}

#navbar .box-news {margin: 0 0 10px;}
#navbar .box-news-head h2 {background-image: url('../images/title_bg.png'); background-repeat: repeat-x;}
/*#nav li.i-menu {background-image: url('../images/topmenu_space.gif')}*/
#nav li.i-menu {background: none;}

/* Fix lai chieu ngang*/
#body-content {padding: 5px 0 0;}
#box, #box-tras, #mainpage {width: 980px;}
#box-tras, #mainpage {min-width: 980px;}
#body-ct {padding: 10px 0px 0 0px;}

/* Chi tiet */
.ct-other h4, .ct-other h4 span {background: none;}
.ct-other h4 span {color: #8e0317; font-size: 14px; text-decoration: underline;}
.ct-other ul {padding: 10px 0 0 10px; min-height: 10px;}
.ct-other ul li a {color: #333;}

/* Thay doi lai thanh bar*/
.ct-widget-header h4 {background: none;}
.ct-widget-header h4 a, .ct-widget-header h4 span {background: #cc141e;}
.ct-widget-header h4 span {height: 22px;}
/*.ct-widget-header h4 span {background: url(../images/ct-navbar-left_new.png) no-repeat}*/

/* style comment */
.section-comm {color: #000000;}
.section-comm .comment { margin-top: 10px; width: 630px}
.bt-comment{margin-top: 5px; background: #CCCCCC; border: 1px solid #333333; color: #333333; cursor: pointer; padding: 3px 4px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px}
.section-comm .bt-comment:active { padding: 4px 4px 2px 4px;}
.section-comm .cm-content { border: 1px solid #e3e3e3; padding: 2px 0px; margin-bottom: 5px;}
.section-comm .comment-items { height: auto; width: 100% ;font-size: 12px;}
.section-comm .comment-items .content {margin:0px; border: 1px dotted #e3e3e3; padding: 5px; border-radius: 3px ;-webkit-border-radius: 3px; -moz-border-radius: 3px;}
.section-comm .comment-items .comment-text p,.section-comm .comment-items .content p.metadata {  padding: 0px;}
.section-comm .comment-items a.yt-user-name {font-weight: bold; color: #3360CF;}

/* Style Classiads*/
.cls-title { color: white; font-weight: bold; text-transform: uppercase ; display: block; height: 27px; line-height: 27px }
.box-catnew-foot .ts-dt {font-size: 10px;font-weight: bold; color: white; text-transform: uppercase; background: url(../images/icon-rv.png) no-repeat scroll left center transparent;padding-left: 20px}
.box-catnew-item .ds-rv:hover{text-decoration: underline;}
.box-catnew-foot .ts-dt-r{ float: right;font-size: 10px; color: white; font-weight: bold; text-transform: uppercase; margin-right: 5px;}
.box-catnew-foot a:hover{ text-decoration: underline;}
/* Category Classiads*/
.bar-classiads { width: 100%; height: 30px; line-height: 30px; background-color: #8F1036 }
.bar-classiads .bar-classiads-up {float: right; height: 24px;width: auto;background-color: white; margin: 2px 10px 0px 0px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; background-color: #fafafa;}
.bar-classiads .bar-classiads-up a {text-align: center; font-weight: bold; margin: 0px 10px; line-height: 24px; color: #555;background: url(../images/icon-rv.png) no-repeat scroll left center transparent;padding-left: 20px}
.bar-classiads span.lb { font-weight: bold; color: white; text-transform: uppercase;margin-left: 12px;display: block;float: left; background: url('../images/right-rv.png') no-repeat scroll right center transparent; height: 30px; line-height: 30px;padding-right: 40px}
.ct-classiads { width: 233px; float: left; margin: 0px 6px 10px 3px;}
.ct-classiads .ct-classiads-title {background: #005073}
.ct-classiads .ct-classiads-title a{ text-transform: uppercase; width: 100%; font-size: 12px; font-weight: bold; height: 20px; line-height: 20px; margin-left: 10px; color: white}
.ct-classiads .ct-classiads-title a span {font-size: 11px; font-weight: normal;}
.ct-classiads .ct-classiads-content { width: 231px; height:200px; border: 1px solid #e3e3e3; overflow: hidden; }
.ct-classiads .ct-classiads-content .ul-classiads { list-style: none; }
.ct-classiads .ct-classiads-content .ul-classiads li{ margin-left: 10px; padding:1px 0px; }
.ct-classiads .ct-classiads-content .ul-classiads li a{  font-size: 11px; background: url('../images/bullet_arrow.gif') no-repeat scroll left 5px transparent; padding-left: 8px;}
.ct-classiads .ct-classiads-content .ul-classiads li a:hover { text-decoration: underline;}
.ct-classiads .ct-classiads-content .tbl-classiads {  width: 231px; border: 0px; font-weight: bold; font-size: 11px; border-bottom: 1px solid #e3e3e3; background: #f1f1f1;}
.ct-classiads .ct-classiads-content .tbl-classiads tr td a { margin-left: 5px; padding-left: 10px; background: url('../images/icon-classiads.gif') no-repeat scroll left 4px transparent;}
.ct-classiads .ct-classiads-content .tbl-classiads tr td a:hover { text-decoration: underline;}
.ct-classiads .ct-classiads-content .tbl-classiads tr td a span { font-weight: normal;}
.ul-classiads-hot { list-style: none; }
.ul-classiads-hot li { display: list-item; padding: 2px 0px}
.ul-classiads-hot li a { background: url('../images/bullet_2.gif') no-repeat scroll left 4px transparent; padding-left: 15px; color: #555;}
.ul-classiads-hot li a:hover { text-decoration: underline;}
.cate-classiads {

}

.tbl-classiads-fp { width: 100%; border: 0px !important; }
.tbl-classiads-fp tr td { width: 49%;}
.ct-classiads-list { width: 100%; height: auto; }
.ct-classiads-list .ct-classiads-list-title { height: 30px;line-height: 30px;background: #84a0c3; padding: 0px;}
.ct-classiads-list .ct-classiads-list-title a{margin-left: 10px;font-weight: bold; color: white}
.ct-classiads-list .tbl-ct-classiads-list { width: 100%; border-top: 0px}
.ct-classiads-list .tbl-ct-classiads-list tr td { border-right: 1px solid #ccc; border-top: 1px solid #e3e3e3;}
.ct-classiads-list .tbl-ct-classiads-list tr td.last {border: 0px; border-top: 1px solid #e3e3e3;}
.ct-classiads-list .tbl-ct-classiads-list tr.row1 {
    background-color: #fbfbfb;
}
.header_0{background-color: #005073 !important;}
.header_1{background-color: #E8641A !important;}
.header_2{background-color: #009F3B !important;}
.header_3{background-color: #8F1036 !important;}
.header_4{background-color: #D2B905 !important;}
.header_5{background-color: #01709E !important;}
.header_6{background-color: #91017C !important;}
.header_7{background-color: #6B519B !important;}
.header_8{background-color: #E2017B !important;}
.header_9{background-color: #7BC625 !important;}
.header_10{background-color: #37B178 !important;}
.header_11{background-color: #333300 !important;}
.header_12{background-color: #CC0000 !important;}
.ct-classiads-list .tbl-ct-classiads-list tr td .a-classiad-item ,.ct-classiads-list .tbl-ct-classiads-list tr td span{ font-size: 12px; color: #00344F;}
.ct-classiads-list .tbl-ct-classiads-list tr td .a-classiad-item:hover { text-decoration: underline}
/*-----------------------*/
.check_login{ width: 97% ; height: auto; border: 1px solid #ccc; padding: 10px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; color: #555; }
/*---------------------------*/
.box-category .box-catnew-item a.more2 { font-weight: bold;}
/*------------*/
/*---promotion---*/
.ct-promotion { background: url('../images/hot-promotion.png') no-repeat scroll top right transparent; width: 98%; height: auto; border: 1px solid #e3e3e3; background-color: #f1f1f1; margin-bottom: 20px; padding: 5px;}
/*-----------------*/
/*----Style Poll---*/
.cms-box-ts { border: 1px solid #e3e3e3; background-color: #ffffff;padding: 2px;}
.cms-box-ts .cms-poll-ts-title { padding: 5px 0px;margin-bottom: 2px; text-transform: uppercase; text-align: center; font-weight: bold; background: #e8641a; color: white }
.cms-box-ts .box_1{ padding: 2px;}
.cms-box-ts .box_1 .title_poll {border-bottom: 1px solid white; padding-bottom: 5px}
.cms-box-ts .box-catnew-item { margin-bottom:0px !important; }
/*Bar ads*/
.ads-bar{ padding: 0px;width: 100%;margin-bottom: 5px;color:white; background: url('../images/bg-b.png') repeat-x scroll left center transparent; height: 25px;line-height: 25px;text-transform: uppercase;font-weight: bold;text-align: center ;}

/*-----Create Classiads------*/
.cr-classiads{
    width: 100%;
    background-color: white;
}
.cr-classiads .cr-classiads-l{ width: 668px; float: left; height: auto;}
.cr-classiads .cr-classiads-l .cr-cla-t { text-align: center; font-size: 14px; font-weight: bold; color: #de3900; text-transform: uppercase; margin-top: 0px; padding: 5px 0px;}
.cr-classiads .cr-classiads-r{ width: 300px; float: right; height: auto;}
.cr-cla-content { width: 100%;  }
.cr-cla-content .tbl-cr-cla { width: 100%; }
.cr-cla-content .tbl-cr-cla tr td { padding: 5px 0px; color: #333; }
.input-cr-cla{ border: 1px solid #e3e3e3;padding: 2px 5px;}
.btn-create-classiads { border: 1px solid #333333; background: #ccc;padding: 3px 10px; color: #333;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
cursor: pointer;
}
.btn-create-classiads:active{
    padding: 4px 10px 2px 10px;
}
#btnrefresh {
    background: url("../images/refresh.png") no-repeat scroll center center transparent;
    display: block;
    float: left;
    height: 16px;
    margin: 2px 0 0 5px;
    width: 16px;
}
.div-confirm{ border: 1px solid #e3e3e3; padding: 10px; background-color: #f1f1f1; margin-bottom: 10px;}
.bug{ color: red;}
.success { color: #0000ff;}
/* News Hot*/
.ct-news-hot div.u-others,.ct-news-hot .u-others-items{
    height: 315px !important;
}
.ct-news-hot div.u-others { background-color: #ededed}
.u-others-items ul {height: auto !important;}
.ct-news-hot ul li a:hover{text-decoration: underline;}
.ct-news-hot ul li {border-bottom: 1px dotted #ccc;}
.ct-ads-hot-news {width: 313px;height: 50px;background-color: #c0c0c0;margin-bottom: 5px;}
/*Map*/
.ct-brea { height: 30px; width: 100%; background-color: #c0c0c0;}
/*--------*/
.rs-tag {width: 100%; border-bottom: 1px solid #e3e3e3; padding-bottom: 10px;}
/* Thông tin tài khoản*/
.ct-acc-l{ width: 200px; height: auto; float: left;}
.ct-acc-r,.cr-classiads-l{ width: 760px; height: auto; float: right; padding: 5px;border-radius: 5px;background-color: #f1f1f1;min-height: 200px;margin-bottom: 10px;}
.acc-tt{ font-size: 12px; color: #004276; margin-bottom: 5px;}
.mnu-acc { list-style: none;}
.mnu-acc li{ display: list-item; padding: 2px 0px; }
.icon-acc{ display: block; height: 14px; width: 14px; background: url('../images/glyphicons-halflings.png') no-repeat; float:left ; padding-left: 10px;}
.mnu-acc li a{font-size: 11px;}
.icon-info{background-position:-167px 0px;}
.icon-info1{background-position:-286px -24px;}
.icon-info2{background-position:-382px 0px;}
.icon-info3{background-position:-406px -120px;}
.icon-info4{background-position:-46px -48px;}
.icon-info5{background-position:-310px -25px;}
.icon-info6{background-position:-70px 0px;}
.icon-info7{background-position:-238px -120px;}
/*Quản lý rao vặt*/
.border_td{border-top: 1px solid #DDDDDD;line-height: 30px;padding-left: 8px;}
.icon-eye-open{background-position: 0px -70px;}
.icon-eye {background-position: -455px 0px;}
/*Hot news*/
.hot-news{ width: 350px;height: 314px; float: left; overflow: hidden; }
.hot-news-item{position: relative;}
.hot-news-item h2{position: absolute;bottom: 0px; padding: 5px;background-color: black;color: white;width: 100%;background:url("../images/1-trongsuot.png") repeat scroll 0 0 transparent}
.hot-news-item h2 a{color: #ffffff;}
.hot-news p.description{line-height: 16px;padding: 6px 10px 0 0;}
.st{ padding: 3px 0px;}
.loading { background: url('../images/ajax-loader.gif') no-repeat scroll center center transparent;}

/*Register*/
.tt-register{ font-size: 25px; text-transform: uppercase;font-weight: bold;text-align: center;color: #CD000F}
.tbl-register {margin-top: 10px; width: 100%;}
.tbl-register .tt-tp{ font-weight: bold; border-bottom: 1px solid #ccc;padding-bottom: 5px}
.tbl-register tr td{ padding: 5px 0px;padding-right:5px;  }
.tbl-register tr td .sp-comf{ font-size: 11px; color: #555; margin-left: 10px;font-style: italic;}
.input-rg{ border: 1px solid #e3e3e3; padding: 3px;color: #555;}
.regu-ct{border: 1px solid #e3e3e3;border-radius: 5px;padding: 5px;}
.regu-tt{font-size: 14px; width: 100%;text-align: center;text-transform: uppercase;font-weight: bold; border-bottom: 1px solid #e3e3e3; padding-bottom: 5px; color: #555;}
.ct-regu p{ text-align: justify; color: #555;margin-top: 5px;}
.bug-reg .errorSummary{ padding: 10px; border: 1px solid #ccc;border-radius: 5px; background-color: #f1f1f1;}
.bug-reg .errorSummary p{ font-weight: bold; color: red; margin-bottom: 5px;}
.bug-reg .errorSummary ul li{ color: red;padding: 2px 0px;}
.breadcrums{height: 20px;border-bottom: 1px solid #ccc;}
.breadA{font: bold 12px arial;float: left;color: #067AB4;}
.spanBread {background: url("images/liDetailNa.gif") no-repeat scroll 0 0 transparent;display: inline;float: left;margin: 6px 10px 0;overflow: hidden;padding: 4px 5px 0 0;}
.thongke{float: right;background-color:#E0E0E0;box-shadow: 0 0 1px #FFFFFF inset;border-radius: 2px 2px 2px 2px;cursor: pointer;}
.thongkebaiviet{
    background-color: #E3E3E3;
    border-radius: 2px 2px 2px 2px;
    color: #666666;
    height: auto;
    margin-bottom: 10px;
    width: 100%;
}
.thongkebaiviet_child{
    margin: 10px;
}
.thongkebaiviet_child h3 {
    padding: 5px;
}
.thongkebaiviet_child ul li{
    line-height: 20px;
}
.main-cat-on .sapo{
    margin-left: 0px;
}
.main-cat-on img.bo{
    width: auto;
}