.loginForm{
    padding: 10px 0px;
    min-height: 300px;
}
.required span{
    color: red;
}
.tblLoginForm {
    margin: 0px auto;
    padding: 10px;
    background: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #333;

}
.tblLoginForm tr td {
    padding: 5px 0px;
}
.tblLoginForm tr td .txtformLogin{
    width: 200px;
    border: 1px solid #ccc;
    padding: 2px 0px 2px 2px;
}
.tblLoginForm tr td .messageError{
    color: red;
    font-size: 11px;
}
.tblLoginForm tr td h1{
    color: white;
    text-transform: uppercase;
    padding: 5px 0px;
    background: url('../images/bg-login-form.png') repeat-x scroll left center transparent;
}
.btnLoginForm{
    background-color: #ccc;
    border: 1px solid #333;
    color: #333;
    cursor: pointer;
    padding: 3px 5px 3px 5px;
}
.btnLoginForm:active{
    padding: 4px 5px 2px 5px;
}