body {color:#666; background:url('../images/bg.png') 0 0 repeat;}
.col_s1_backgound {background: none repeat scroll 0 0 #cde5fb;}
.col_s2_backgound {background: none repeat scroll 0 0 #FFFFFF;}
.div-episodeList { height: 30px; width: 100%; background-color: #c0c0c0;}
.ct-ads{margin-bottom: 10px;}

.box-stats{ width: 100%; height: auto; background-color: white; color: #666666;border-radius: 2px;margin-bottom: 10px}
.box-stats .box-child{margin: 10px;}
.box-stats .box-child ul{ list-style: none}
.box-stats .box-child ul li{ font-size: 11px;}

/* Box user*/
.box-user{ background-color: #f5f5f5}
.box-user-info { padding: 15px; background: #f5f5f5}
.box-user-info p{ padding: 2px 0px;}
.user-info{ width: 100%;padding: 0px; margin-top: 5px;}
.user-info li{ width: 100%; padding: 0px;margin: 0px;}
.user-info li a{ padding: 0px; margin: 0px; padding: 2px 0px;}

.table-level thead tr th{ text-align: center;}
.table-level thead tr th:first-child{text-align: left;}
.table-level tr td{ text-align: center}
.table-level tr td:first-child{text-align: left;}

.data-item{position: relative;width: 260px; height: auto; background-color: white; border-radius: 10px;padding: 10px; overflow: hidden; border: 1px solid #e3e3e3; margin-right: 10px; margin-bottom: 10px;}
.data-item .data-item-child { width: 100%; height: auto;}
.data-item .data-item-child .titledeals2{color: #666666; font-size: 14px; height: 47px; margin: 10px 0 4px; overflow: hidden; text-decoration: none;}
.data-item .data-item-child .titledeals2 a{ font-size: 18px; color: #237EAD; outline-style: none; text-decoration: none;}
.data-item .data-item-child .titledeals2 a:hover{ color: #ff9600}
.data-item .data-item-child .v6TopBorder{border-top: 1px dotted #BFBFBF; padding-top: 7px;}
.data-item .data-item-child .v6ItemHotPriceSale{ font-size: 24px;color: #BA0000;font-weight: bold; text-align: left;}
.data-item .data-item-child .v6ItemPriceOld{color: #909090; font-size: 12px; text-align: left; text-decoration: line-through;}
.data-item .data-item-child .link-item{display: block;height: 260px;overflow: hidden;width: 260px;}
.data-item .btn-join{position: absolute;top: 20px; left: 20px;display: none;}
.data-item:hover .btn-join{ display: block;}
.data-item .join-active{display: block !important;}
/* Item level*/
/*.info-level { position: relative;}*/

.data-col1 { width: 585px; }
.data-col2{ width: 170px; }

/* date*/
.date-container{ width: 100%; border-bottom: 1px solid #ccc; position: relative;}
.date-container .date-info{width: 100%;}
.date-container .date-info img{ margin: 0px 8px 10px 0px !important;}
.date-container .date-info h3{ line-height: normal;}
.date-container h3{ padding: 0px 0px !important; margin: 0px; line-height: normal !important; font-size: 18px; color: #888;}
.date-container .date-info ul { display: block; float: left; list-style: none outside none; padding-bottom: 10px;}
.date-container .date-info ul li{ clear: both; float: left; }
.date-container .date-info ul li span.firstItem{color: #636363; float: left; font-weight: bold; width: 70px;}
.date-container .date-info ul li div.lastItem{float: left;}
.date-container .date-description { width: 100%;}
.date-container .date-with{ width: 100%; margin-top: 10px; }
.date-container .date-with p.line-date{border-bottom: 1px solid #CCCCCC;font-weight: bold; margin-bottom: 5px; padding: 5px 0; text-transform: uppercase;}
.date-container .date-with .join_info ul{ list-style: none;}
.date-container .date-with .join_info ul li{overflow: hidden; padding: 5px 0px; clear: both; float: left; width: 100%; border-bottom: 1px solid #e3e3e3;}
.date-container .date-with .join_info ul li:last-child{ border-bottom: 0px;}
.date-container .date-with .join_info ul li img{ float: left;}
.date-container .date-with .join_info ul li div.date-item{ margin-left: 105px;}
.date-container .date-with .join_info ul li div.date-item .first-date{ font-weight: bold;display: block; float: left; width: 100px;}
.date-container .date-with .join_info ul li div.date-item .last-date{display: block;}
.date-container .date-with a{ margin: 2px;width: 80px;}

