/***
* @author    Joomlastro.com - http://www.joomlastro.com
* @copyright Copyright (C) 2011 Joomlastro.com. All rights reserved.
* @license   GNU/GPL v2
***/

.let_icon,
.let_news_section_title span,
.let_news_more_title {
	zoom: 1;
	*display: inline;
}

.let_right {
	width: auto !important;
	float:none !important;
	zoom: 1;
}
