.ctimg{width: 650px; margin-top: 50px !important;text-align: center}
.acc{ width: 200px; margin-top: 10px;}
/*.acc ul.nav li.nav-header { font-size: 15px; color: white; padding: 5px 0px; text-align: center; border-bottom: 1px solid white}*/
/*.checkbox{ text-indent: -99999999px; }*/
.link b{font-size: 12px;color: #CBCBCB}
.link a.link-profile{font-size: 12px;color: white !important;}
.lk-confirm{text-align: center;text-transform: uppercase;font-size: 20px;padding: 0 0 10px 0;color: #666;text-shadow: 1px 1px #eaeaea;}
/*.nav-list{background-color: #0088CC}*/
.div_btn button{ margin-left: 167px;}
.ct-birthday{width: 100%;margin-top: 6px;}
.sl-birthday{width: 32%;color: #888;}

.box-forgot{width: 300px;}
.box-forgot input{margin-top: 5px;width: 98%}
.box-forgot .forgot-label{ padding: 5px 0px;}
.box-forgot .forgot-mobile{font-size: 30px; font-weight: bold; text-align: center; margin: 10px 0px;}
.forgot-line {text-align: center;margin: 10px 0px;}

.footer{width: 100%;padding: 0px;}
.p10{padding: 10px;}

.container {width: 100%;}