.pin_list .row {border-bottom: 1px solid #ccc; margin-top: 40px; padding-bottom: 40px; position: relative;}
.pin_list .row:after {clear: both;content: ".";display: block;height: 0;visibility: hidden;}
.pin_details .pin_content {max-width: 570px;}

