/* Define */
body {color:#333; background:#f5f5f5; margin: 0; padding:0;}
body, button, input, textarea {font: normal 12px arial,sans-serif;}
a {text-decoration: none; color: #323232;}
a:hover {color: #26A;}
.border {border: #ff0000 1px solid;}
.background {background: #0082bd}
.fix_width {margin: 0 auto; width: 960px;}
.debug {position:fixed; width: 100%; height: 100%; background: url('../images/debug.png') repeat-y center center; opacity:0.2; filter:alpha(opacity=20); /* For IE8 and earlier */ z-index: 100000000;}

/* Float and clearfix */
.clearfix:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}
.fl {float: left}
.fr {float: right}
.scroller {position: fixed; top: 38px;}
/* END Float and clearfix */

.maggin_top_5 {margin-top: 5px;}
.maggin_top_10 {margin-top: 10px;}
.maggin_top_15 {margin-top: 15px;}
.maggin_top_20 {margin-top: 20px;}
.maggin_bottom_5 {margin-bottom: 5px;}
.maggin_bottom_10 {margin-bottom: 10px;}
.maggin_bottom_15 {margin-bottom: 15px;}
.maggin_left_20 {margin-left: 20px;}
.maggin_right_20 {margin-right: 20px;}
.maggin_right_10 {margin-right: 10px;}
.padding_20 {padding: 20px;}
.padding_bottom {padding-bottom: 10px;}
.padding_bottom_5 {padding-bottom: 5px;}
.padding2Sites_5 {padding-left: 5px; padding-right: 5px;}

/* Icon */
.letMenu .home .icon_home, .search_box .button_search,
.topmenu_s1_in,.topmenu_s1_chn,.topmenu_s1_pro,.topmenu_s1_chn_ul .nav_home em,.topmenu_s1_icon_hot,.topmenu_s1_icon_award,.topmenu_s1_icon_mobile
{background-image:url('../images/base.png'); background-repeat: no-repeat;}

/* Table */
table {width:100%; border-top:1px solid #e5eff8; border-right:1px solid #e5eff8; border-collapse:collapse;}
td {color:#678197; border-bottom:1px solid #e5eff8; border-left:1px solid #e5eff8; padding:.3em 1em;}
tr.odd td {background:#f7fbff}
tr.odd .column1 {background:#f4f9fe;}
.column1 {background:#f9fcfe;}
/* END Table */

.title {font-size: 15px; font-weight: bold;}
.center {text-align: center;}

/* Float menu */
.letMenu {position:fixed;_position:absolute;left:0;top:0;z-index:1001;width:100%;height:38px;background-color:#4c4845;}
.letMenu .home {float:left;height:38px;border-left:1px solid #5f5b58;border-right:1px solid #423e3b}
.letMenu .home a {display:block;position:relative;height:38px;width:50px}
.letMenu .home a:hover {color:#fff;background-color:#373232}
.letMenu .home .icon_home {position:absolute;left:18px;top:10px;display:block;text-indent:-9999px;width:13px;height:15px;background-position:-138px -52px}
.letMenu .nav{float:left;border-left:1px solid #5f5b58;padding-left:10px}
.letMenu .nav li{float:left;_width:20px;white-space:nowrap; margin-left: 0px;}
    .letMenu .nav a{display:block;height:38px;line-height:37px;line-height:40px\0;padding:0 7px;padding:0 6px 0 7px\9;text-decoration: none;}
    .letMenu .nav a:link,
    .letMenu .nav a:visited{color:#e7e7e7}.letMenu .nav a:hover,
    .letMenu .nav  a:active,
    .letMenu .home a:hover {color:#fff;background-color:#373232;text-decoration: none;}
/* END Float menu */

/* Sub menu */
.submenu {position:absolute; z-index:10000; display:none;background: #1443a4;color: #fff;}
.submenu ul, .submenu ul li, .submenu ul li.last {border: 0;}
.submenu ul li.active, .submenu ul li.active a {background: none;}
.submenu ul li a, .submenu ul li.last a {color: #DDD;}
/* Sub menu */

/* Header */
.letHeader {margin-top: 38px;position:relative;z-index:99;text-align:left;height:104px;}
.letHeader .logo {display:block;margin-top: 12px;}
.letHeader .logo a {background: url('../images/logo_letphim.png') 0 0 no-repeat; display:block;text-indent:-9999px;height:70px;}
.letHeader .logo.letcuoi a {background-image: url('../images/logo_letcuoi.png');}
/* END Header */

/* Footer */
.letFooter {margin-top: 30px; padding-bottom: 10px; position:relative; /*background: #f5f5f5;*/ width: 100%;}
.letFooter .search_box {text-align: center; padding: 10px 0; background-color: #e8e8e8;}
.letFooter {color: #7b7b7b;}
.letFooter .info {margin-top: 10px; line-height: 17px;}
.letFooter .info .labelinfo {font-weight: bold;}
/* END Footer */

/* Style */
.box_s1 {border-bottom: 1px solid #e1e1e1; border-top: 2px solid #dcdcdc; background: #fafafa;}
.box_s1.padding {padding: 10px 20px 0px 20px;}
.box_s1 .title {width: auto; font-size: 20px; font-weight: bold; margin-bottom: 10px; padding: 10px 20px 0 20px; white-space:nowrap;}
.box_s1 .padding2Sites_5 .title {padding-left: 15px;}
.box_s1.border_red, .box_s1 .border_red {border-top: 3px solid #1d58d0; margin-top: -3px;}
/*.box_s1.border_red .title, .box_s1 .border_red.title {width: auto; color: #e63737;}*/
.box_s1 .noPadding2Sites {margin-left: -20px; margin-right: -20px;}

.box_s2 {border: 4px solid #F6F6F6; border-top-width: 3px; padding: 8px;}

.box_link_extra {margin: 15px 20px 0 0;}
.box_link_extra span {padding: 0 8px; color: #e9e9e9;}
.headContent {}
.mainContent{}

.list_text_s1 .item {background: url('../images/arrow.png') 0 5px no-repeat; padding: 0 0 0 10px; line-height: 18px;}
.list_text_s2 .item {background: url('../images/arrow.png') 0 -25px no-repeat; padding: 0 0 0 10px; line-height: 18px;}
.list_text_s3 .item {background: url('../images/arrow.png') 0 -57px no-repeat; padding: 0 0 0 10px; line-height: 18px;}
.list_text_s4 .item {background: url('../images/arrow.png') 0 -90px no-repeat; padding: 0 0 0 10px; line-height: 18px;}

.list_video_s1 {}
.list_video_s1 .list {}
.list_video_s1 .list .item {/*margin: 0 10px 22px;*/ margin: 0 20px 20px 0; width:130px;font-size:12px;letter-spacing:0;display:inline-block;vertical-align:top;zoom:1;*display:inline;}
.list_video_s1 .list .item.first {margin-left: 0;}
.list_video_s1 .list .item.last {margin-right: 0;}
.list_video_s1 .list .hover img {position:relative;padding:3px;margin:-4px;display:block;border:1px solid #e0e0e0;-moz-box-shadow:0 1px 2px #ddd;-webkit-box-shadow:0 1px 2px #ddd;box-shadow:0 1px 2px #ddd}
.list_video_s1 .item .item_txtbox {margin-top: 6px;}
.list_video_s1 .item .item_txtbox p{*padding:1px 0}
.list_video_s1 .item .item_txtbox p a,.list_video_s1 .item .item_txtbox p em{display:inline-block;vertical-align:baseline}
.list_video_s1 .item .item_title{font-size: 13px; font-weight: normal; display:inline-block;*padding:1px 0 2px;_padding:0 0 1px}

.list_video_s2 {}
.list_video_s2 .list {}
.list_video_s2 .list .item {width:auto; padding: 5px; font-size:12px;letter-spacing:0;vertical-align:top;zoom:1;}
.list_video_s2 .list .thumb {float: left;}
.list_video_s2 .list .hover img {position:relative;padding:3px;margin:-4px;display:block;border:1px solid #e0e0e0;-moz-box-shadow:0 1px 2px #ddd;-webkit-box-shadow:0 1px 2px #ddd;box-shadow:0 1px 2px #ddd}
.list_video_s2 .item .item_txtbox {float: left; margin-left: 10px;}
.list_video_s2 .item .item_txtbox p {*padding:1px 0}
.list_video_s2 .item .item_txtbox p a,.list_video_s2 .item .item_txtbox p em {display:inline-block;vertical-align:baseline}
.list_video_s2 .item .item_title{font-size: 13px; font-weight: normal; display:inline-block;*padding:1px 0 2px;_padding:0 0 1px}
.list_video_s2 .item.item_bg_1 {background: #daecf6;}
.list_video_s2 .item.item_bg_2 {background: lightsteelblue;}

.tabs_s1 {overflow: hidden;}
.tabs_s1 li {}
.tabs_s1 li{position:relative;float:left;width:150px;height:36px}
.tabs_s1 li a,.tabs_s1 li a:visited{display:block;height:36px;background-color:#E9E9E9;border-top:1px solid #DDD;line-height:33px;font-weight:700;font-size:14px;text-align:center;color:#333}
.tabs_s1 li a:hover{text-decoration:none;color:#333}
.tabs_s1 .active a,.tabs_s1 .active a:visited,.tabs_s1 .active a:hover{background:#FFF;border-top:1px solid #E7282E;color:#717171}

.tabs_s2 {height: 31px;border-bottom: 1px solid #d6d6d6; margin-bottom: 6px;position: relative;z-index: 2;}
.tabs_s2 li{display:inline;float:left;border:1px solid #d6d6d6;border-bottom:0;line-height:29px;margin-right:6px; height:31px;font-size:15px;padding:0 33px;position:relative}
.tabs_s2 li.active{border-top:2px solid #E7282E;border-bottom:1px solid #fff;background-color:#fff;position:relative;_top:1px;font-weight:normal;height:29px;line-height:30px}
.tabs_s2_content {padding: 20px;}

.icon_play s, .icon_comment s {background:url(http://s3.56img.com/style/include/module/v1/combo/img/module_v.2.png) no-repeat;_background:url(http://s3.56img.com/style/include/module/v1/combo/img/module_ie6_v.2.png) no-repeat; overflow:hidden;line-height:999em;display:inline-block;*display:inline;zoom:1;width:13px;height:12px;margin:-1px 3px 0 0;vertical-align:middle}
.icon_play em, .icon_comment em {color: #7b7b7b; font-size: 11px; font-style: normal; white-space: nowrap; line-height: 18px;}
.icon_play s {background-position:0 -40px}
.icon_comment s {background-position:-32px -40px}

/* Color AND Background */
.bg_white {background: white;}
.bg_1 {background: #e7eefc;}
.bg_2 {background: #cedeff;}
.gray,.gray:link,.gray:visited{color:#7b7b7b}a.gray:hover{color:#26A}
/* END Color AND Background */

/* Side */
.side_left_bg {background: url('../images/side_left_bg.png') 0 0 repeat-y;}
.side_left_nav {width: 140px;}
.side_left_nav li{height:29px;line-height:29px;padding-left:10px;overflow:hidden;border-top:1px dotted #DFDFDF;_border-top:1px solid #E3E3E3}
.side_left_nav li.last{border-bottom: 1px dotted #DFDFDF;_border-bottom:1px solid #E3E3E3}
.side_left_nav li a{font-size:13px;padding-left:15px}
.side_left_nav li.active {background:url('../images/side_left_active.png') no-repeat right -18px;}
.side_left_nav li.active a{font-weight:bold;color:#333}
.side_left_nav li a:hover,.side_left_nav li.active a{background:url('../images/side_left_active.png') no-repeat 0 6px}
/* END Side */

/* Social Button */
.social_button {}
.social_button a {padding: 0 2px; float: left; cursor: pointer;}
.social_button.right a {float: right;}
.social_button a span {background:url('http://assets.let.vn/icon/social/social_32x32.gif') no-repeat left;overflow:hidden;display:block;height:32px!important;width:32px!important;line-height:32px!important;}
.social_button a.facebook span {background-position: 0 -160px!important;}
.social_button a.twitter span {background-position: 0 -704px!important;}
.social_button a.googleplus span {background-position: 0 -288px!important;}
/* END Social Button */

.close {float: right; font-size: 20px; font-weight: bold; line-height: 20px; color: #000000; text-shadow: 0 1px 0 #ffffff; opacity: 0.2; filter: alpha(opacity=20);position: absolute; top: 5px; right: 5px;}
.close:hover {color: #000000; text-decoration: none; cursor: pointer; opacity: 0.4; filter: alpha(opacity=40);}

/* Sticky em */
.stickit {position: fixed; top: 50px; z-index: 10000;}
.stickit-end {bottom: 0px; position: absolute;}
/* Sticky em */

/* Paging */
.paging{clear:both;font-family:Tahoma;text-align:center;padding:6px 0;}
.paging_total,.paging_pn,.paging_pn span,.paging_pn a{display:inline-block;*display:inline;*zoom:1}
.paging_total{vertical-align:middle;color:#7b7b7b;padding:2px 0}
.paging_total span{margin-right:6px}
.paging_pn{margin:0;vertical-align:top}
.paging_pn span,.paging_pn a{padding:2px 5px;text-decoration:none;vertical-align:top}
.paging_pn a:link,.paging_pn a:visited{color:#333}
.paging_pn a:hover,.paging_pn a:active{color:#fff;background-color:#fc0000;text-decoration:none}
.paging_pn_current{font-weight:bold;color:#7b7b7b}
.paging_pn_disabled,.paging_pn_ellipsis{color:#7b7b7b}
.page_theme_0{}
.page_theme_0 .paging_total{padding:6px 12px 0 0}
.page_theme_0 .paging_pn{font-size:14px}
.page_theme_0 .paging_pn a,.page_theme_0 .paging_pn_current,.page_theme_0 .paging_pn .paging_pn_disabled:link,.page_theme_0 .paging_pn .paging_pn_disabled:visited,.page_theme_0 .paging_pn .paging_pn_disabled:hover{font-weight:bold;margin:0 2px 0 3px;padding:3px 9px;border:1px solid #cecece;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background-color:#e8e8e8;background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#e8e8e8));background-image:-webkit-linear-gradient(top,#fff,#e8e8e8);background-image:-moz-linear-gradient(top,#fff,#e8e8e8);background-image:-ms-linear-gradient(top,#fff,#e8e8e8);background-image:-o-linear-gradient(top,#fff,#e8e8e8);background-image:linear-gradient(to bottom,#fff,#e8e8e8);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e8e8e8',GradientType=0)}
.page_theme_0 .paging_pn_current{color:#fc0000}
.page_theme_0 .paging_pn a:link,.page_theme_0 .paging_pn a:visited{color:#333}
.page_theme_0 .paging_pn a:hover{border-color:#777}
.page_theme_0 .paging_pn a:active,.page_theme_0 .paging_pn_current{background-image:none;background-color:#7b7b7b;border-color:#7b7b7b;color:#fff;-webkit-box-shadow:inset 0 1px 1px #555;-moz-box-shadow:inset 0 1px 1px #555;box-shadow:inset 0 1px 1px #555;filter:none}
.page_theme_0 .paging_pn .paging_pn_disabled:link,.page_theme_0 .paging_pn .paging_pn_disabled:visited,.page_theme_0 .paging_pn .paging_pn_disabled:hover{color:#7B7B7B;cursor:text;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.page_theme_0 .paging_pn_ellipsis{font-weight:bold;padding:1px 8px}
.paging .paging_pn a:active,.paging .paging_pn_current{background-color:#1d58d0;border:0 none;box-shadow:0;padding:4px 10px}
/* END Paging */

.thumb_title {position: absolute; bottom: 0; left: 0; font-size: 15px; width: 100%; color: #fff; padding: 5px 0;}
.thumb_title a {color: #fff;}
.opacity {background: url('../images/bg_opacity.png') 0 0 repeat;}
.relative {position: relative;}
