/* Search box */
.search_box{margin-top: 30px;}
.search_box_main{position:relative;*zoom:1;border:2px solid #1e5ad2;background-color:#f9f9f9;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-box-shadow:inset 1px 1px 3px #bababa;-moz-box-shadow:inset 1px 1px 3px #bababa;box-shadow:inset 1px 1px 3px #bababa}
.search_box_main:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
.search_box_content{position:relative;float:left;width:299px;height:24px;*zoom:1;display:inline;padding:3px 1px 3px 0px}
.search_box_content .search_box_drop{position:absolute;left:-2px;top:-2px;font-size:14px;height:32px;min-width:59px;_width:59px}
.search_box_content .search_box_drop:hover .f_drop_menu_sub{visibility:hidden}
/*.search_box_drop .f_drop_menu_main{padding-left:10px;padding-right:8px;padding-top:6px;_padding-top:7px}
.search_box_drop .f_drop_menu_main{padding-top:6px\9}
.search_box_drop .f_drop_menu_main_title{line-height:22px\0}
.search_box_drop .f_drop_menu_sub_list li{background-color:#f9f9f9}
.search_box_drop .f_drop_menu_sub_ct,.search_box_drop_hover .f_drop_menu_main{background:#f9f9f9;border:2px solid #e53736;border-top:none}
.search_box_content .search_box_drop_hover .f_drop_menu_main{margin:0;padding-left:9px;padding-top:5px;*padding-bottom:6px;background:#f9f9f9;border:2px solid #e53736;border-bottom:none;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}
.search_box_drop_hover .f_drop_menu_sub{visibility:visible!important}
.search_box_drop .f_drop_menu_main_arrow{top:9px;_top:8px;border:3px dashed transparent;border-top:3px solid #333}
.search_box_content .search_box_drop_hover .f_drop_menu_main_arrow{top:5px;_top:4px;border-top:3px dashed transparent;border-bottom:3px solid #333;border-bottom-width:4px\9}
.search_box_drop .f_drop_menu_sub_list a:hover{color:#26A}.search_box_input{position:relative;width:100%}*/
.search_box_input .inp_search{float:left;font-size:14px;line-height:16px;width:340px;height:16px;padding:4px 6px;padding:5px 6px 3px 6px\9;background-color:#f9f9f9;border:none;border-left:1px solid #cfcfcf}
.search_box_input .gray{color:#000}
.search_box_input #showJKL{display:none;clear:both;position:absolute;top:29px;left:0;width:100%;overflow:hidden;background:#fff;border:1px solid #9f9f9f;border-top:none}
.search_box_input .so_auto_complete{margin:0;overflow:hidden;*zoom:1;vertical-align:top;font-family:tahoma}
.search_box_input .so_auto_complete li{overflow:hidden;clear:both;color:#333;text-align:left;list-style-type:none;height:21px;line-height:21px;padding:0 8px;table-layout:fixed;word-break:break-all;word-wrap:break-word;cursor:pointer}
.search_box_input .so_auto_complete li span{overflow:hidden;float:right;text-align:right;font-size:11px;color:#008000;width:35%;white-space:nowrap;text-overflow:ellipsis}
.search_box_input .so_auto_complete li a{overflow:hidden;float:left;width:65%;white-space:nowrap;text-overflow:ellipsis;color:#333;line-height:20px}
.search_box_input .so_auto_complete li a:link,.so_auto_complete li a:visited{text-decoration:none}
.search_box_input .so_auto_complete li:hover,.so_auto_complete .sfhover{background-color:#eee}
.search_box_button{clear:both;position:absolute;z-index:9;right:0;top:0;*zoom:1}
.button_search,.button_search_hover{display:block;text-indent:-9999px;width:31px;height:30px;background-color:transparent;background-position:6px -52px;border:none;cursor:pointer}
.button_search_hover{background-position:-32px -52px}.search_box_extra{padding:4px 0 0 0}
.search_box_keyword li{display:inline}.search_box_keyword a{float:left;margin:0 6px}
.search_box_keyword a:link,.search_box_keyword a:visited{color:#7b7b7b}
.search_box_keyword a:hover{text-decoration:none;color:#26a}
/* END Search box */

/*.h_info {margin-top: 22px;}
.h_info_shortcuts{width:280px;margin:0 0 12px;font-size:0;text-align:right}
.h_info_shortcuts li{display:inline-block;*display:inline;*zoom:1;_width:20px;font-size:12px;margin:0 0 0 8px;text-align:left;vertical-align:top}
.h_info_shortcuts li a{overflow:hidden;display:block;text-indent:-9999px;width:107px;height:30px}
.h_info_shortcuts li .upload{background-position:0 -89px}
.h_info_shortcuts li .m2v{width:117px;background-position:-117px -89px}
.h_info_shortcuts li a:hover{opacity:.8;filter:alpha(opacity=80)}
.h_info_shortcuts li em{display:block;text-indent:-9999px}*/

.topmenu_s1{}
.topmenu_s1 a:link,.topmenu_s1 a:visited{color:#fff;text-shadow:0 0 1px #820300}.topmenu_s1 a:hover{text-decoration:none;*color:#fff}
.topmenu_s1 .current a:link,.topmenu_s1 .current a:visited{text-shadow:none}
.topmenu_s1_in{_overflow:hidden;height:46px;background-color:#1e5ad2;background-position:left -127px;background-repeat:repeat-x;-webkit-box-shadow:0 0 3px #bdbdbd;-moz-box-shadow:0 0 3px #bdbdbd;box-shadow:0 0 3px #bdbdbd}
.topmenu_s1_in ul{height:46px}
.topmenu_s1_icon_hot,.topmenu_s1_icon_award,.topmenu_s1_icon_mobile{position:absolute;z-index:9;top:10px;right:-2px;overflow:hidden;text-indent:-9999px;width:14px;height:13px}
.topmenu_s1_icon_hot{right:-18px;top:6px;width:27px;height:8px;background-position:-197px -53px}
.topmenu_s1_icon_award{background-position:-96px -259px}
.topmenu_s1_icon_mobile{width:12px;left:12px;top:15px;*top:14px;background-position:-34px -282px}
.topmenu_s1_chn{float:left;padding-left:10px;background-position:0 -227px}
.topmenu_s1_chn_ul{float:left;padding-top:5px}
.topmenu_s1_chn_ul li{position:relative;display:inline;float:left;height:41px;margin-right:3px; margin-left: 0;}
.topmenu_s1_chn_ul li.current{z-index:8}.topmenu_s1_chn_ul li.last{background:none}
.topmenu_s1_chn_ul a{display:block;line-height:38px;height:41px;padding:0 11px 0 12px;_width:12px;white-space:nowrap;font-weight:bold;-webkit-border-top-left-radius:2px;-webkit-border-top-right-radius:2px;-moz-border-topleft-radius:2px;-moz-border-topright-radius:2px;border-top-left-radius:2px;border-top-right-radius:2px}
.topmenu_s1_chn_ul a:link,.topmenu_s1_chn_ul a:visited{font-size:14px;font-family:Arial,\5b8b\4f53,sans-serif}:root 
.topmenu_s1_chn_ul a:link,:root .topmenu_s1_chn_ul a:visited{letter-spacing:.5px}
.topmenu_s1_chn_ul .nav_home,.topmenu_s1_chn_ul .nav_home:hover{position:relative;width:13px;background:none;padding:0 15px}
.topmenu_s1_chn_ul .nav_home em{position:absolute;top:50%;overflow:hidden;display:inline-block;*display:inline;*zoom:1;line-height:999em;text-indent:-9999px;*text-indent:0;margin-top:-7px;overflow:hidden;width:13px;height:13px;vertical-align:middle;*vertical-align:0;background-position:0 -259px}
.topmenu_s1_pro{float:right;min-width:240px;_width:240px;background-position:right -177px}
.topmenu_s1_pro_ul{float:right}
.topmenu_s1_pro_ul li{position:relative;float:left;height:46px}
.topmenu_s1_pro_ul .mobile{padding-left:12px}
.topmenu_s1_pro_ul a{display:block;font-size:14px;line-height:46px;line-height:48px\0;padding:0 15px 0 0}
.topmenu_s1_pro_ul strong{font-weight:700}
.topmenu_s1_pro_ul .ican{line-height:44px\9;font-family:Arial}:root 
.topmenu_s1_pro_ul .ican{line-height:46px}
.topmenu_s1_chn_ul li a:hover, .topmenu_s1_chn_ul li a.active{background-color:#1443a4;text-decoration:none}
.topmenu_s1_chn_ul li.current a:link,.topmenu_s1_chn_ul li.current a:visited,.topmenu_s1_chn_ul li.current a:hover{color:#333;background-color:#fff;background-image:none;height:44px;-webkit-box-shadow:inset 0 1px 0 #ba2922;-moz-box-shadow:inset 0 1px 0 #ba2922;box-shadow:inset 0 1px 0 #ba2922}

.topmenu_s2{border:1px #1443a4 solid; background:#e7eefc;}
.topmenu_s2 .list {margin:0px 0 0 10px;}
.topmenu_s2 .list li {position:relative;display:inline;float:left;height:25px;margin-right:10px; margin-left: 0;}
.topmenu_s2 .list li a {display: block; line-height: 25px; height: 25px; padding: 0 11px 0 12px; _width: 12px; white-space: nowrap;}
.topmenu_s2 .list li a:hover {background:#1443a4; color:#fff;}



.film_info {}
.film_info .row {line-height: 20px;}
.film_info .label {font-weight: bold;}
.film_stats {text-align: right; font-size: 18px; font-weight: bold; line-height: 18px;}
.film_stats .button_stats {margin-left: 5px; margin-right: 5px;}
.film_stats .button_stats span {background: url('../images/icon_stats.png') 0 0 no-repeat; overflow:hidden; display:block; height:20px!important; width:25px!important;}
.film_stats .button_stats.active span, .film_stats .button_stats.hover span {background-position: 0 -30px;}

.episode_list {}
.episode_list .button {background: #678197; color: #f9fcfe; padding: 0 2px; line-height: 20px; font-size: 13px;}
.episode_list .button span {white-space:nowrap;}
.episode_list .button.active {background: red; color: #f9fcfe;}