fieldset > div > .remove_tag {
	background: url(../images/input_remove.png) top right;
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	right: 0px;
	top: 0px;
    cursor: pointer;
}
