/*--------------------------------
Basics
--------------------------------*/
html{ }
body {
	background: url(../images/backgrounds/bg_squares.png) repeat fixed;
	position: relative;
	float: left;
	width: 100%;
}

.display_none {
	display: none;
}

.display_block {
	display: block;
}

.send_left {
	float: left;
}

.send_right {
	float: right;
}

.no_border {
	border: none !important;
}

.no_margin {
	margin: 0 !important;
}

.no_margin_bottom {
	margin-bottom: 0 !important;
}

.no_padding {
	padding: 0 !important;
}

.padding_top_10 {
	padding-top: 10px;
}

.margin_bottom_10 {
	margin-bottom: 10px;
}

/*----End of Basics -----*/

/*--------------------------------
Sidebar and Topbar
--------------------------------*/
#topbar {
	display: none;
	z-index: 10;
	position: relative;
	width: 100%;
	margin-bottom: 10px;
}

#topbar a.logo {
	float: left;
	margin-left: 3px;
	margin-bottom: 0;
}

#topbar .user_box {
	float: right;
	width: 190px;
	margin-right: 9px;
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 5px;
}

#sidebar {
	margin-left: 10px;
	width: 175px;
	z-index: 10;
	position: absolute;
	top: 0px;
	left: 0px;
}

#sidebar div.cog {
	display: none;
}

#sidebar a.logo {
	margin-bottom: 5px;
	margin-left: -7px;
}

a.logo span {
	visibility: hidden;
}

a.logo {
	background: url(../images/adminica_logo_black-trans.png) no-repeat;
	display: block;
	height: 87px;
	width: 180px;
	z-index: 10;
	margin-top: -15px;
}

/*------User Box --------*/

.dark_box{
	border: 1px solid rgba(0,0,0,0.5) !important;
}


.user_box {
	color: #fff;
	padding: 5px;
	padding-right: 0;
	margin-top: 0px;
	margin-bottom: 10px;

}

.user_box .user_links {
	float: right;
	width: 95px;
	padding-right: 5px;
	word-wrap: break-word;
}

.user_box img {
	border: 1px solid #333;
	float: left;
	margin-right: 8px;
	margin-bottom: 0;
	padding: 0;
	display: block;
	zoom: 1;
}

.user_box h2 {

	color: #fff;
	line-height: 12px;
	margin-bottom: 7px;
	margin-top: 5px;
	font-size: 13px;
}

.user_box h3 {
	color: #ccc;
	float: left;
	margin-bottom: 7px;
	margin-top: 0;
	font-size: 12px;
	font-weight: normal;
}

.user_box h3 a {
	color: #ccc;
}

.user_box ul {
	float: left;
	padding: 0;
	margin: 0;
}

.user_box ul li {
	position: relative;
	float: left;
	margin: 0;
	display: inline;
	list-style: none;
	zoom: 1;
}

.user_box ul li a {
	font-size: 11px;
	color: #aaa;
	zoom: 1;
}

.user_box ul li a:hover {
	color: white;
}

.user_box ul li a:hover {
	color: #fff;
}

.user_box ul li span {
	color: #666;
	margin: 0 4px;
}

/*------Accordion and list --------*/
.side_accordion,.side_links {
	margin-bottom: 10px;
	margin-top: 0px;
	padding-left: 0;
}

.side_accordion li,.side_links li {
	list-style: none;
	width: 100%;
	position: relative;
	margin-left: 0;
	overflow: visible;
}

.side_accordion > li,.side_links > li {
	background-color: #D0D6DA;
}

#sidebar .side_accordion li a,#sidebar .side_links li a {
	color: #555;
	font-weight: normal;
	font-size: 12px;
	display: block;
	line-height: 32px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #959ba2;
	border-left: none;
	border-right: none;
	text-indent: 0px;
	text-shadow: 0px 1px 0px #fff;
	padding-left: 10px;
	zoom: 1;
	overflow: visible;
	position: relative;
}
#sidebar .side_accordion li:first-child a,#sidebar .side_links li:first-child a {border-top:0}

#sidebar .side_accordion li:hover a,#sidebar .side_links li:hover a {
	color: #000;
}

.side_accordion li a img,.side_links a img {
	float: left;
	padding: 4px 7px 0 0;
	margin-left: -5px;
}

.side_accordion li span,.side_links li span {
	display: block;
	position: absolute;
	right: 2px;
	top: 2px;
}

.side_accordion li a:hover,.side_links li a:hover {
	color: #000;
}

.side_accordion li:first-child a,.side_links li:first-child a {
	border-top: 0px solid white;
}

.side_accordion > li:last-child > a,.side_links li:last-child a {
	border-bottom: 0px solid white !important;
}

/*------accordion drawer (used by main navigation too) --------*/
ul.drawer {
	position: relative;
	border-left: 0 !important;
	border-right: 0 !important;
	border-top: 0px solid #333 !important;
	border-bottom: 0px solid #333;
	margin-top: -1px;
	margin-bottom: -1px;
	padding-left: 0;
	display: none;
	background: url(../images/sidenav_tooth-trans.png) 8px 0px no-repeat;
	background-color: #313841;
}

ul.drawer li a {
	filter: none;
	background-image: none;
	background-color: transparent;
	border-bottom: 1px solid rgba(0,0,0,0.5) !important;
	border-top: 0px solid #333 !important;
	border-left: 0px solid #333 !important;
	border-right: 0px solid #333 !important;
	color: #eee !important;
	font-weight: normal;
	line-height: 32px;
	font-size: 12px;
	text-shadow: 0px 1px 0px #000 !important;

	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
ul.drawer li:first-child a {
}

li:last-child ul.drawer li{
	margin-bottom: 1px;
}


ul.drawer li a:hover {
	background-color: rgba(0,0,0,0.1);
	color: #fff;
}

.lt-ie9 ul.drawer li a:hover {
	background: url(../images/trans_black.png) repeat;
}

ul.drawer li:last-child a {
	border-bottom-width: 0px;
}

ul.drawer li:first-child a {
	border-top: none;
}

li:last-child ul.drawer li:last-child a {
	border-bottom-width: 0px !important;
}

/*------Search --------*/

#search_side {
	padding: 0;
	margin-bottom: 10px;

	margin-left: 0;
	margin-bottom: 10px !important;
	display: block;
	position: relative;
	display: block;
}


#search_side input {
	background: transparent url(../images/icons/small/white/magnifying_glass.png) 5px 3px no-repeat;
	border: none;
	display: block;
	padding: 7px 5px 7px 33px;
	width: 136px;
	color: #ccc;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
#search_side input:hover,
#search_side input:focus {
	color: #fff;
}



/*----End of Sidebar and Topbar -----*/
/*--------------------------------
Main Container
--------------------------------*/
#wrapper {
	padding-bottom: 50px;
}

div.main_container {
	margin: 10px 10px 10px 196px;
	*top: 10px;
	background: #eee url(../images/grey_noise.png) repeat;
	background-color: #e5e8ea;
	padding: 20px 10px 5px;
	width: auto;
	position: relative;
	display: block;
	*padding-bottom: 15px;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
}

div.main_container.full_size {
	padding: 0;
}

div.main_container.full_size > .box {
	width: 100% !important;
	margin: 0 !important;
}

div.main_container p > a {
	font-weight: bold;
	border-bottom: 1px dashed #ccc;
}

div.main_container p > a:hover {
	color: #000;
	border-bottom: 1px dashed #000;
}

.isolate{
	position: relative;
}
.isolate .center{
	top:20%;
}

.isolate div.main_container {
	background: rgba(0,0,0,0.3);
	padding: 20px;
	margin: 10px;
	position: relative;
	border: 1px solid #000;
}


.isolate #loading_overlay .loading_message{
	margin-left: 0;
}

.isolate .section {
	padding: 10px !important;
}

.isolate .section :last-child {
	margin-bottom: 0px !important;
}

.isolate .box {
	margin: 0 !important;
}

.isolate .block {
	border: 0 !important;
}

/*------Navigation --------*/
#nav_top {
	margin: -20px -10px 20px;
	display: block;
	border-bottom: 0px solid #fff;
	position: relative;
	z-index: 500;
	letter-spacing: 0;	
}

#nav_top ul {
	margin: 0px;
	padding: 0;
	border-bottom: 0px solid #aaa;
}

#nav_top ul li {
	margin: 0;
	float: left;
	list-style: none;
	position: relative;
	display: block;
	zoom: 1;
	background: #D0D6DA;
}

#nav_top ul li:first-child a {
	border-left: none;
}

#nav_top ul li a.end {
	width: 0;
	height: 34px;
	padding: 0;
	border-right: none;
}

#nav_top ul li a {
	border-right: 1px solid #aaa;
	border-left: 1px solid #fff;
	padding: 0px 0px 0px 0px;
	display: inline-block;
	float: left;
	margin-bottom: 0px;
	line-height: 32px;
	height: 32px;
	white-space: nowrap;
	text-decoration: none;
	text-indent: 0;
	font-size: 12px;
	font-weight: normal;
	color: #555;
	text-shadow: 0px 1px 0px #fff;
	border-bottom: 1px solid #aaa;
	border-top: 1px solid #fff;
	zoom: 1;
}

#nav_top > ul > li.has_dropdown > a {
	cursor: default;
	background: url(../images/dropdown_triangle.png) bottom right no-repeat;
}

#nav_top ul li a img {
	float: left;
	margin: 0 -5px 0 5px;
	padding: 4px 0px 0 0;
}

#nav_top ul li.icon_only a img {
	margin: 0 5px;
}

#nav_top ul li a span {
	padding: 0 10px;
}

#nav_top > ul > li.current > a {
	border-top: none !important;
	border-bottom: 1px solid #000;
	border-left: none;
	color: #fff;
	text-shadow: 0px 1px 0px #000000;
	border-right: 1px solid #4b4b4b;
	padding-bottom: 1px;
	background-color: #4c5766;
	margin-left: -1px;
	padding-left: 1px;

	-webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3);
	-moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3);
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3);
}

#nav_top > ul > li:first-child.current > a {
	margin-left: 0;
	padding-left: 0;
}

#nav_top > ul > li.current > a:hover {
	color: #fff;
}

#nav_top ul li:first-child.current > a {
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	border-top-left-radius: 3px;
}

#nav_top ul li a:hover {
	color: #000;
}

#nav_top > ul > li > ul,#nav_top ul li ul.dropdown {
	background-color: transparent;
	display: block;
	position: absolute;
	top: 33px;
	z-index: 501;
	left: -9999px;
	zoom: 1;
	border: 1px solid #aaa;
	border-top: 1px solid #aaa;
	width: 140px;
}

#nav_top ul li:hover ul.dropdown {
	left: -1px;
	right: auto;
}

#nav_top ul li:hover ul.dropdown_right {
	right: -0px;
	left: auto;
}

#nav_top ul li ul.dropdown li {
	position: relative;
	float: none;
	background-color: #DFE2E4;
	z-index: 100;
}

#nav_top ul li ul.dropdown li a {
	display: block;
	float: none;
	background-image: none;
	background-color: transparent;
	filter: none !important;
	border-bottom: 1px solid #b5b8bb;
	border-top: 1px solid #f1f1f1;
	border-left: 1px solid #fff;
	border-right: none;
	margin-bottom: 0;
	font-size: 12px;
	font-weight: normal;
	text-shadow: 0px 1px 0px #fff;
}

#nav_top ul li ul.dropdown li:last-child a {
	border-bottom: 0px solid #b5b8bb;
}

#nav_top ul li ul.dropdown li a:hover {
	color: #000;
}

li.has_drawer > a {
	background: transparent url(../images/nav_plus.gif) right 7px no-repeat !important;
}

#sidebar ul.side_accordion > li.has_drawer > a {
	background-position: right !important;
}

li.has_drawer.open > a {
	background-image: url(../images/nav_minus.gif) !important;
}

#nav_top ul li ul.dropdown li ul.drawer {
	margin: -1px;
	border: 0;
	border-top: 0px solid #111;
	width: auto !important;
	border-left: none;
}

#nav_top ul li ul.dropdown li ul.drawer li {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: none;
	filter: none !important;
	zoom: 1;
}

#nav_top ul li ul.dropdown li ul.drawer li a {
	display: block;
	border-bottom: 1px solid #2f3134;
	color: #eee;
	text-shadow: 0px 1px 0px #4e5660;
	border-top: 0px solid #999;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border-left: none;
	text-shadow: 0px 1px 1px #000;
	background: transparent url(../images/blank.png) repeat9 !important;
	filter: none !important;
	zoom: 1;
}

#nav_top ul li ul.dropdown li ul.drawer li a:hover {
	background-color: rgba(0,0,0,0.1);
	color: #fff;
}

.lt-ie9 #nav_top ul li ul.dropdown li ul.drawer li a:hover {
	background: url(../images/trans_black.png) repeat;
}

#nav_top ul li ul.dropdown li ul.drawer li:last-child a {
	border-bottom: 0px solid #ccc;
}

#nav_top ul li ul.dropdown li:last-child ul.drawer li:last-child a,#nav_top ul li ul.dropdown li:last-child {
	margin-bottom: -0px;
}

#nav_top ul li ul.dropdown li ul.drawer {
	margin-bottom: 0px;
	filter: none;
}

#nav_top ul li ul.dropdown li:last-child ul.drawer {
	margin-bottom: 0px;
}

#nav_top #mobile_nav {
	display: none;
	margin-top: -20px;
}

#nav_top #mobile_nav select {
	display: block;
	width: 100%;
}

/*-----Box -------*/
div.main_container .box {
	position: relative;
	background-color: white;
	margin-bottom: 15px;
	padding: 0;
	z-index: 400;



	-webkit-box-shadow: 0 2px 0 1px rgba(0,0,0,0.03);
	-moz-box-shadow: 0 2px 0 1px rgba(0,0,0,0.03);
	box-shadow: 0 2px 0 1px rgba(0,0,0,0.03);
}

div.main_container .box h2.box_head {
	font-size: 14px;
	font-weight: bold;
	line-height: 32px;
	color: white;
	margin: -1px auto 0px;
	text-indent: 10px;
	text-shadow: 0px 1px 0px #000;
	border-width: 1px;
	border-style: solid;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.box.light h2.box_head,.box.light h2.box_head small {
	border-color: #959BA2;
	color: #333 !important;
	text-shadow: 0 1px 0 #FFFFFF !important;
}

.box.light a.toggle {
	background-image: url("../images/lite_toggle.png");
}

.box h2.box_head small {
	font: normal 11px sans-serif;
	color: #ddd;
}

.block h2 small {
	font: normal 12px sans-serif;
	color: #aaa;
	letter-spacing: normal;
	margin-left: 5px;
}

.box a.toggle {
	background: rgba(0,0,0,0.1) url(../images/toggle.png) 1px -15px no-repeat;
	display: block;
	height: 17px;
	width: 18px;
	position: absolute;
	right: 33px;
	top: 6px;
	border: 1px solid rgba(0, 0, 0, 0.2);

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.3);
	-moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.3);
	box-shadow: 0px 1px 0px rgba(255,255,255,0.3);
}

.box a.toggle_closed {
	background-position: 2px 2px;
}

.box a.grabber {
	background: url(../images/grabber.gif) no-repeat;
	background: url(../images/grabber-trans.png) no-repeat;
	display: block;
	height: 22px;
	width: 22px;
	position: absolute;
	right: 5px;
	top: 4px;
	cursor: move;
}

.box .block {
	padding: 0px 10px 0px 10px;
	padding: 0;
	margin-top: 0px;
	position: relative;
	background: none;
	overflow: hidden;
	border: 1px solid #ccc;
	border-width: 0 1px 1px;

}

.box.no_titlebar .block {
	border-width: 1px;
}

.box .block.tab_sider {
	border-width: 1px 1px 1px 0;
}

.box .block .section {
	padding: 15px;
	margin: 0;
}

.box .block .section:last-child {
}

.box .block h1.section,.box .block h2.section,.box .block h3.section {
	padding-bottom: 15px;
}

.box .block ul.flat_large {
	border: none;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0;
}

.box .block ul.flat_large li {
	margin: 0 0 0 1px;
	margin-left: 0;
	border-bottom: 1px solid #eee;
	width: 100%x;
	padding: 10px 10px;
	list-style: none;
	display: block;
}

.box .block ul.flat_large li:last-child {
	border: none;
}

.box .block ul.flat_large li span {
	color: #333;
	display: block;
	float: left;
	width: 95px;
	font-weight: bold;
	font-size: 14px;
}

.dashed_placeholder {
	display: inline-block;
	margin: -0px 0.9% 0px;
	background: #eee;
	outline: 1px dashed #bbb;
}

.flat_area {
	margin-bottom: 15px;
	margin-top: 0px;

}

.flat_area > * {
	text-shadow: 0px 1px 0px #fff;
	padding: 0 10px;
}

.flat_area > :last-child {
	margin-bottom: 0;
}

.flat_area h2 {
	margin-left: 0px;
	margin-right: 0px;
	padding: 2px 10px 2px;
	margin-bottom: 10px;
	margin-top: 0px;
	font-weight: bold;
	background-image: url("../images/trans_black_less.png");
	border: 1px solid #fff;
	border-left: 1px solid #f8f8f8;
	border-right: 1px solid #f8f8f8;
	line-height: 30px;
	text-indent: 0px;
}

/*-----End of Main Container -------*/


/* Loading Overlay
----------------------------------------------------------------------------------------------------*/
#loading_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 9999;
}

#loading_overlay .loading_message {
	background: #fff;
	padding: 0;
	line-height: 25px;
	height: 30px;
	border: 1px solid #fff;
	position: absolute;
	top: 0px;
	left: 50%;
	width: 150px;
	margin-left: 23px;
	text-align: center;
	color: #333;
	font-weight: bold;
}

#loading_overlay .loading_message img {
	margin: 5px auto;
}

.box, .block, .flat_area, .indent , #nav_top{
	opacity: 0;
}

/*-----Loading Overlay -------*/



/* Breadcrumb
----------------------------------------------------------------------------------------------------*/

.breadcrumb{
	float: left;
}


ul.breadcrumb{
	border: 1px solid #ccc;
}


ul.breadcrumb > li{
	float: left;
	display: block;
	height: 20px;
	line-height: 20px;
	border-width: 0;
	font-size: 11px;
}

ul.breadcrumb > li > a,
ul.breadcrumb > li > span{
	display: block;
	padding: 0 5px 0 17px;
	background: url(../images/breadcrumb_divider.png) no-repeat;
	background-position: -5px;
}

ul.breadcrumb > li:first-child > a{
	background: none;
	padding: 0 0 0 5px;
	
}

ul.breadcrumb > li:last-child > span{
	padding: 0 10px 0 17px;
	font-weight: bold;
	
}

.toggle_all{
	border: 1px solid #aaa;	
}


.toggle_all > a{
	padding-right: 40px;
	padding-left: 8px;
	text-align: right;
	right: 0px;
	margin-top: 1PX;
	background: url(../images/box_toggle_h.png) 96% bottom no-repeat;
}

.toggle_all.closed > a{
	background-position: 96% top;
}

.toggle_all a{
	display: block;
	height: 20px;
	white-space: nowrap;

}

.toggle_all .show_all{
	display: none;
}
.toggle_all.closed .show_all{ display: block;}
.toggle_all.closed .hide_all{
	display: none;
}



/*-----End of Breadcrumb -------*/




/*--------------------------------
Form Elements
--------------------------------*/

form {
	margin-bottom: 0px !important;
}

fieldset {
	position: relative;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	clear: both;
}

fieldset:last-of-type{
	border-bottom: 0;
}

.block fieldset {
	margin: -1px 0 0;
}

fieldset > label {
	font-size: 13px;
	font-weight: bold;
	padding: 15px 20px 10px;
	margin-right: 10px;
	display: block;
	color: #333;
}

fieldset > label span {
	display: inline;
	font-weight: normal;
	font-size: 11px;
	font-family: sans-serif;
	color: #999;
	margin-left: 5px;
}

fieldset > label span.click {
	cursor: pointer;
}

fieldset > div {
	width: auto;
	padding: 0px 20px 15px;
}

.error {
	font-weight: bold;
	color: #DA202C;
}

input.text,.textarea,.ui-multiselect,table input.text {
	width: 100% !important;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	border: 0;
	background: rgba(0, 0, 0, 0.05);

	-webkit-box-shadow: inset 0px 0px 2px 0px #ddd;
	-moz-box-shadow: inset 0px 0px 2px 0px #ddd;
	box-shadow: inset 0px 0px 2px 0px #ddd;
}


input.text {
	line-height: 32px;
	height: 32px;
	padding: 0px 0 0 5px;
}

input.text.width_50 {
	width: 50%;
}

input.text.width_25 {
	width: 25%;
}

input.text.width_75 {
	width: 25%;
}

.textarea_holder,.textarea {
	padding: 5px 0 0 5px;
	min-height: 60px;
}

.textarea_holder > textarea {
	height: 100px;
	width: 100%;
	display: block;
}

input.text:hover,.textarea:hover {
	-webkit-box-shadow: inset 0px 0px 2px 0px #aaa;
	-moz-box-shadow: inset 0px 0px 2px 0px #aaa;
	box-shadow: inset 0px 0px 2px 0px #aaa;
}

input.text:focus,.textarea:focus {
	-webkit-box-shadow: inset 0px 0px 2px 0px #555;
	-moz-box-shadow: inset 0px 0px 2px 0px #555;
	box-shadow: inset 0px 0px 2px 0px #555;
}

fieldset > div > .required_tag {
	background: url(../images/input_required.png) top right;
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	right: 0px;
	top: 0px;
}

fieldset.label_side{
}
fieldset.label_side > label {
	width: 100px;
	position: relative;
	float: left;
	left: 0;
	padding: 18px 20px 8px;
	border-right: 1px solid #eee;
	clear: left;
	line-height: normal;
}

fieldset.label_side > label > span {
	display: block;
	margin: 3px 0 -3px;
}

fieldset.label_side > label > span > a {
	color: #999;
}

fieldset.label_side > div {
	width: auto;
	margin-left: 140px;
	padding: 15px 20px;
	border-left: 1px solid #eee;
	clear: right;
}

fieldset.label_side > div > input.text {
	width: 100%;
}

fieldset.label_side.label_small > label {
	width: 70px;
}

fieldset.label_side.label_small > div {
	margin-left: 110px;
}

fieldset.no_label > div {
	padding: 15px 20px;
}

fieldset > div > label {
	display: block;
	line-height: 25px;
}

fieldset > div > label:first-child {
	margin-top: -3px;
}

fieldset > div.inline > label {
	display: inline-block;
	float: left;
	line-height: 26px;
	margin-right: 10px;
	margin-top: 0px;
}

fieldset > div > label input[type=radio],fieldset > div > label input[type=checkbox] {
	margin-right: 8px;
}

.edit_text input {
	background: #fff;
	margin-bottom: 10px;
	border: none;
}

.button_bar {
	padding: 10px 10px 10px;
	border: 1px solid #fff;
	border-top:1px solid #aaa;
	border-width: 1px 0 0;
}

.button_bar button {
	margin-bottom: 0;
}

.button_bar .text {
	float: left;
	margin: 6px 10px;
}

.alert {
	border: 1px solid #999;
	padding: 5px;
	padding-left: 5px;
	margin-bottom: 10px;
	color: #fff;
	text-shadow: 0 1px 1px #000;
}

.alert:hover {
	cursor: pointer;
}

.alert img {
	margin: -3px 5px 0px 0;
	float: left;
}

.alert.badge {
	position: absolute;
	display: block;
	z-index: 100;
	right: -5px !important;
	top: -8px !important;
	margin: 0;
	text-align: center;
	padding: 2px 4px;
	line-height: 12px;
	text-indent: 0;
	font-size: 11px;
	border: 2px solid #fff;

	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.5);

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	zoom: 1;
}

select {
	margin-right: 5px;
	margin-bottom: 8px;
	margin-right: 5px;
	margin-top: 5px;
}

select.full_width {
	display: block;
}

.time_picker_holder .selector,.inline .selector,.inline select {
	float: left;
}

.slider {
	margin-top: 5px;
}

.slider_vertical span{
	float: left;
	margin-right: 3.5%;
}
.slider_vertical span:last-child,
.slider_vertical span.last-child{
	margin-right: 0px;
}

.has_labels.slider {
	margin-bottom: 10px;
}

.ui-slider ol.slider_labels {
	margin-top: 15px;
	width: 100%;
	margin-left: 1%;
	position: absolute;
}
.slider ol.slider_labels li:last-child,
.slider ol.slider_labels li.last-child{
	margin-right: 0 !important;
}

.ui-slider ol.slider_labels li {
	font-weight: bold;
	font-size: 11px;
	float: left;
	display: block;
	width: 15px;
	margin-left: -15px;
	text-align: center;
}





button {
	padding: 2px;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	line-height: 24px;
	position: relative;
	text-align: center;
	vertical-align: middle;
}

button.full_width {
	width: 100%;
}

button.full_width.has_icon span {
	margin-left: -10px;
}

button .ui-icon {
	margin: 4px;
	float: left;
}

button img {
	display: block;
	float: left;
}

button.div_icon span,button.img_icon span {
	padding-left: 5px;
	padding-right: 5px;
}

button.text_only {
	padding-right: 5px;
	padding-left: 5px;
}

button.small {
	line-height: 20px;
}

button.small .ui-icon {
	margin: 2px;
}

button.small img {
	display: block;
	margin: -2px;
}

button.large {
	line-height: 36px;
}

button.large .ui-icon {
	margin: 10px;
}

button.large img {
	display: block;
	margin: 7px 7px 5px;
}

/*-----End of Form Elements -------*/
/*--------------------------------
Tab Boxes
--------------------------------*/
.tabs ul.tab_header {
	margin-top: -2px;
	margin-bottom: -1px;
	padding: 0;
	width: 100%;
	border-width: 1px 0px;
	padding-top: 1px;
}

.tabs ul.tab_header li {
	display: block;
	float: left;
	margin: 0;
	margin-bottom: -1px;
	padding: 0;
	border: 0;
	background: none;
	cursor: pointer;
	position: static;
	filter: none;
}

.lt-ie7 .tabs ul li,.lt-ie8 .tabs ul li {
	margin-bottom: -1px;
}

.tabs ul.tab_header li a {
	display: block;
	margin: 3px 0 0px 5px;
	line-height: 30px;
	padding: 0 15px;
	text-shadow: 0px 1px 0px #fff;
	color: #555;
	font-weight: normal;
	background-color: #D0D6DA;
	filter: none;
	border-bottom: 1px solid #AAAAAA;
}

.tabs ul.tab_header li a span {
	color: #333;
	font: bold 10px sans-serif;
}

.tabs ul.tab_header li.ui-state-active a {
	margin: 3px 0 -2px 5px;
}

.tabs ul.tab_header li a:hover {
	color: #222;
	cursor: pointer;
}

.tabs ul.tab_header li.ui-tabs-selected a {
	background: #fff;
	filter: none;
	border-color: white;
	color: #333;
	text-shadow: none;
}

.tabs ul.tab_header li.ui-tabs-selected a {
	cursor: default;
}

.tabs ul {
	margin-bottom: -1px;
}

.side_tabs .block {
	margin-left: 150px;
	position: relative;
	border-left: 0;
	min-height: 193px;
}

.side_tabs .block.ui-tabs-hide{
	min-height: 0;
}


.tabs ul.tab_sider {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 150px;
	filter: none;
	border: 0px;
	overflow: hidden;
	border-color: #333;
}

.tabs ul.tab_sider li {
	display: block;
	margin: 5px 0 0 5px;
	padding: 0;
	width: 100%;
	border: 0;
	background: none;
	cursor: pointer;
	zoom: 1;
}

.tabs ul.tab_sider li a {
	display: block;
	line-height: 32px;
	margin: 0;
	padding: 0 0;
	text-shadow: 0px 1px 0px #fff;
	text-align: center;
	width: 100%;
	color: #555;
	font-weight: normal;
	background-color: #D0D6DA;
	zoom: 1;
}

.tabs ul.tab_sider li a:hover {
	color: #222;
}

.tabs ul.tab_sider li.ui-tabs-selected a {
	background: #fff;
	border-color: white;
	color: #333;
	text-shadow: none;
	padding: 0 0;

	-webkit-box-shadow: inset 0px 0px 2px #fff;
	-moz-box-shadow: inset 0px 0px 2px #fff;
	box-shadow: inset 0px 0px 2px #fff;
}

/*-----End of Tabs -------*/
/*--------------------------------
Accordion
--------------------------------*/
ul.content_accordion {
	list-style: none;
	padding: 0 !important;
	width: 100%;
	margin: 0 0 -1px 0;
}

.content_accordion h3.bar {
	background-color: #dfe2e4;
	display: block;
	*display: inline-block;
	margin: 0;
	line-height: 30px;
	font-family: sans-serif;
	padding: 0 10px;
	font-size: 13px;
	font-weight: normal;
	color: #333;
	text-shadow: 0px 1px 0px #fff;
	border-bottom: 1px solid #959BA2;
	border-top: 0px solid #fff;
	border-right: 1px solid #aaa;
	border-left: 1px solid #aaa;
}

.block .content_accordion li:first-child h3.bar,.no_titlebar .content_accordion li:first-child h3.bar {
	border-top: 1px solid #aaa;
}

.full_size > .box .block.content_accordion li:first-child h3.bar {
	border-top: none;
}

.full_size > .box .block.content_accordion .content {
	border-left: none;
	border-right: none;
}

.full_size > .box .block.content_accordion li:last-child .content {
	border-bottom: none;
}

.full_size .content_accordion h3.bar {
	border-left: none;
	border-right: none;
}

.content_accordion {
	border: 0 !important;
}

.content_accordion .content {
	padding: 0px 10px 0;
	margin: -1px 0 1px;
	border-top: none;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	background-color: #fff;
}

.content_accordion .content > *:first-child {
	margin-top: 10px;
}

.content_accordion .content > *:last-child {
	margin-bottom: 10px;
}

.content_accordion li:last-child .content {
	border-bottom: 1px solid #aaa;
}

ul.content_accordion li {
	position: relative;
	padding: 0;
	margin: 0;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	width: 100%;
	display: block;
	border: none;
	border-bottom: 0 !important;
}

ul.content_accordion li a.handle {
	background: url(../images/grabber-trans.png) no-repeat;
	line-height: 22px;
	height: 22px;
	width: 22px;
	position: absolute;
	right: 6px;
	top: 6px;
	z-index: 10;
	cursor: move;
	zoom: 1;
}

ul.content_accordion.no_rearrange li a.handle {
	display: none;
}

/*-----End of Accordion -------*/
/*--------------------------------
Dialog
--------------------------------*/
.no_dialog_titlebar.ui-dialog .ui-dialog-titlebar {
	display: none;
}

.no_dialog_titlebar .tab_header {
	margin-top: 0 !important;
	border-top: 0 !important;
}

.dialog_content .section {
	padding: 10px;
}

.dialog_content .block {
	overflow: hidden;
}

/*-----End of Dialog -------*/
/*--------------------------------
DataTable
--------------------------------*/
.datatable {
	visibility: hidden;
}

.dataTables_scroll {
	overflow: hidden;
}

.dataTables_scrollBody{
	width:auto !important;
	overflow: auto !important;
}

.dataTables_wrapper {
	margin: 0px 0 !important;
}

.dataTables_wrapper .ui-widget-header {
	font-weight: normal;
	background: #4C5766;
	border: 1px solid #000;
	position: relative;
	padding: 10px;
	text-shadow: 0px 1px 0px #000;
	color: #fff;
}

.block .dataTables_wrapper .ui-widget-header.ui-corner-tl {
	font-weight: normal;
	background: #fff !important;
	filter: none;
	border: 1px solid #fff;
	border-bottom: 1px solid #ccc;
	position: relative;
	padding: 10px;
	text-shadow: 0px 1px 0px #fff;
	color: #333;

	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.dataTables_length {
	float: left;
	line-height: 20px;
}

.dataTables_length .selector {
	background-position: -483px -224px;
	display: inline-block;
	margin-bottom: -11px;
	margin-left: 0px;
}

.dataTables_filter {
	float: right;
	line-height: 20px;
	width: 180px;
	display: block;
}

.dataTables_filter label {
	float: right;
}

.dataTables_wrapper .dataTables_filter input {
	display: inline;
	width: 120px !important;
	height: 28px;
	line-height: 28px;
}

.single_datatable .dataTables_filter input {
	border: 0px solid #000;
	margin-left: 5px;
	color: #fff;

	-webkit-box-shadow: inset 0px 0px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 0px 2px rgba(0,0,0,0.5);
	box-shadow: inset 0px 0px 2px rgba(0,0,0,0.5);
}

.single_datatable .dataTables_filter input:focus {
	background: none;
}

/*
.dataTables_wrapper .ui-widget-header input {
	
margin: 0 0 0 5px;
	
border:  1px solid #000000;
	

-webkit-border-radius:  2px;
	
-moz-border-radius:  2px;
	
border-radius:  2px;
	


background:  #fff;
	
}

 */
.dataTables_scrollHeadInner {
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #AAAAAA;
}

.block .dataTables_scrollHeadInner {
	border-top: 0;
}

.dataTables_scrollHeadInner table {
	margin-bottom: 0;
	margin-top: 0px;
}

.dataTables_scrollHeadInner table thead tr {
	margin-right: 0px;
}

.dataTables_scrollHeadInner table thead tr th {
	border: none !important;
	background: none;
	position: relative;
}

.DataTables_sort_wrapper {
	background: none;
	padding: 10px 5px 10px 20px;
	text-align: center;
	font-size: 12px;
	color: #333;
	text-shadow: 0 1px 0 #FFFFFF; /*
	border-left:  1px solid #FFFFFF;
	
	border-right:  1px solid #AAAAAA;
	
	 */
position: relative;
	font-weight: normal;
}

.DataTables_sort_wrapper:hover {
	color: #000000;
	cursor: pointer;
}

.DataTables_sort_wrapper span {
	position: absolute;
	left: 5px;
	top: 8px;
}

.dataTables_scrollBody table {
	margin-bottom: 0;
	margin-top: 0px;
}

.dataTables_scrollBody > .datatable > thead {
	visibility: hidden;
}

.dataTables_scrollBody > .datatable > thead .ui-state-default {
	border: none;
}

.dataTables_scrollBody tbody tr td {
	line-height: 20px;
}

table.display td {
	padding: 3px 10px;
}

table.display tr.odd {
	background-color: #fafafa;
	border-bottom: 1px solid #d8dcde;
}

table.display tr.even {
	border-bottom: 1px solid #e1e5e7;
}

table.display tr.even:hover,table.display tr.odd:hover {
	background-color: #E6ECEF;
}

.dataTables_info {
	float: left;
	line-height: 26px;
}

.dataTables_paginate {
	float: right;
	margin-right: 0px;
}

.dataTables_wrapper .dataTables_paginate span.fg-button {
	background-image: none;
	background-color: #DFE2E4;
	text-shadow: 0 1px 0 #FFFFFF;
	color: #333;
	border-bottom: 1px solid #aaa;
	border-left: 1px solid white;
	border-top: 1px solid white;
	border-right: 1px solid #aaa;
	padding: 3px 10px;
	margin: 0;
	filter: none !important;
}

.dataTables_wrapper .dataTables_paginate span.first {
	border-left: 1px solid white;

	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.dataTables_wrapper .dataTables_paginate span.last {
	border-right: 1px solid #fff;
}

.dataTables_wrapper .dataTables_paginate span.ui-state-disabled {
	margin-left: -1px;
	opacity: 1;
	color: #888 !important;
}

.dataTables_wrapper .dataTables_paginate span span.ui-state-disabled {
	background-image: none;
	text-shadow: 0 1px 0 #000;
	background-color: #313841;
	border: 1px solid #000;
	color: #FFFFFF !important;

	opacity: 1;
}

/*-----End of DataTable -------*/
/*--------------------------------
Regular Tables
--------------------------------*/
table.static {
	width: 100%;
	margin-bottom: 0 !important;
	margin-top: 0px !important;
}

table.static thead {
	background: #D0D6DA;
	border-bottom: 1px solid #aaa;
}

table.static thead tr th {
	border-left: none;
	border-right: none;
	line-height: 30px;
	padding: 0 10px;
	text-align: left;
	color: #333;
	font-weight: normal;
	text-shadow: 0px 1px 0px #fff;
}

table.static tbody tr td {
	line-height: 25px;
	padding: 0 10px;
	border: 0 solid #999;
}

table.static tbody tr td {
	border-bottom: 1px solid #E1E5E7;
}

table.static tbody tr:last-child td {
	border-bottom: 0px;
}

table.static tbody tr.even td {
	background-color: #EDF1F3;
	border-bottom: 1px solid #D8DCDE;
}

table.static tbody tr td input,table.static tbody tr td button {
	margin: 10px 0;
	float: left;
}

/*-----End of Regular Tables -------*/
/*--------------------------------
Wizard
--------------------------------*/
.wizard {
	position: relative;
}

.wizard_content .step {
	display: none;
}

.wizard_content {
	display: block;
}

.wizard_steps {
	display: block;
}

.wizard_progressbar {
	display: block;
	position: absolute;
	right: 60px;
	top: -24px;
	width: 223px;
	z-index: 9999;
	border-color: #000;

	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5) inset;
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5) inset;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5) inset;
}

.wizard_progressbar > div {
	border-width: 0px;
	margin: 0px !important;
}

.wizard .wizard_steps ul {
	width: 100%;
	border-right: 0 !important;
	border-left: 0 !important;
	border-top: 1px solid rgba(0,0,0,0.5) !important;
	border-bottom: 1px solid rgba(0,0,0,0.5) !important;
	background: #4C5766;
	margin-top: 0px;
	margin-bottom: 0;
}

.wizard .wizard_steps ul li {
	min-width: 170px;
	display: inline-block;
	float: left;
	list-style: none;
	border-right: 1px solid rgba(0,0,0,0.5);
}

.wizard .wizard_steps ul li.current {
	background: #fff;
	border-left: 1px solid #fff !important;
	border-right: 1px solid rgba(0,0,0,0.5) !important;
}

.wizard .wizard_steps ul li.current a {
	border-bottom: 1px solid rgba(255,255,255,0.5);
	border-right: 1px solid rgba(255,255,255,0.5);
	color: #000;
	text-shadow: 0px 1px 0px #fff;
}

.wizard .wizard_steps ul li:last-child,.wizard .wizard_steps ul li:last-child a {
	border-right-width: 0px;
}

.wizard .wizard_steps ul li a {
	font-weight: normal;
	color: #fff;
	display: block;
	padding: 8px 10px;
	border-right: 1px solid rgba(255,255,255,0.2);
	text-shadow: 0px 1px 0px #000;
}

.wizard .wizard_steps ul li a span {
	display: inline-block;
	float: left;
	font-size: 12px;
}

.wizard .wizard_steps ul li a small {
	font-size: 10px;
	color: #ddd;
	margin: 5px 0 0 12px;
	display: inline-block;
	float: left;
	clear: both;
}

.wizard .wizard_steps ul li.current a small {
	color: #333;
}

/*-----End of Wizard -------*/
/*--------------------------------
File Browser
--------------------------------*/
#file_tree ul.jqueryFileTree li {
	padding: 0 0 5px 25px;
	background-position: 0px 8px;
}

#file_tree ul.jqueryFileTree li.directory a {
	font-weight: normal;
	line-height: 30px;
	margin-bottom: 0;
}

/*-----End of File Browser -------*/
/*--------------------------------
Gallery
--------------------------------*/
.indent {
	background-color: rgba(0,0,0,0.15);
	border: none;
	border: 1px solid #fff;

	-webkit-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.3);
	box-shadow: inset 0px 0px 5px rgba(0,0,0,0.3);
	margin-bottom: 15px;

}



.indent fieldset {
	text-shadow: 0px 1px 0px #f9f9f9;
}

.indent fieldset h3 {
	margin-bottom: 10px;
}

.gallery ul {
	padding: 20px 0px 10px 19px;
	margin: 0 0px 0 0;
	list-style: none;
}

.gallery ul li {
	list-style: none;
	float: left;
	
	padding: 0;
	margin: 0 9px 9px -1px;
	position: relative;

	-webkit-box-shadow: 0px 2px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 2px 1px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 1px rgba(0,0,0,0.1);
}

.gallery ul li a {
	padding: 5px;
	display: block;
	overflow: auto;
	background-color: #f1f1f1;
	*background-color: #fff;
	text-align: center;
	text-shadow: 0px 1px 0px #fff;
	border: 1px solid #fff;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: inset 0px 0px 10px #ffffff;
	-moz-box-shadow: inset 0px 0px 10px #ffffff;
	box-shadow: inset 0px 0px 10px #ffffff;
}

.gallery ul li a:hover {
	background-color: #fff;
}

.gallery ul li a img {
	display: block;
	margin: 2px auto 3px;
	padding: 0;
	border: 1px solid #fff;
}

.gallery ul li a span.name {
	color: #666;
	font-size: 12px;
	text-align: center;
	margin: 0 2px 0px;
	display: block;
	line-height: 17px;
}

.gallery ul li a span.size {
	display: block;
	color: #999;
	font-size: 10px;
	line-height: 15px;
	margin-bottom: 5px;
}

.gallery ul li a span.update {
	display: none;
}

.gallery_sorter {
	margin-bottom: 10px;
	display: block;
}

.gallery_sorter fieldset {
	padding: 10px 20px;
	margin: 0;
	width: 40%;
}

.gallery_sorter label {
	margin-right: 10px;
	line-height: 2em;
	display: block;
	float: left;
}

.gallery ul li a.features .starred {
	background: url(../images/content/yellow_star.png) no-repeat;
	display: block;
	height: 35px;
	width: 35px;
	position: absolute;
	right: -1px;
	top: 0px;
}

.gallery ul li a.features .starred.blue {
	background: url(../images/content/blue_star.png) no-repeat;
}

.gallery ul li a.features .starred.green {
	background: url(../images/content/green_star.png) no-repeat;
}

.gallery ul li a span.update {
	display: none;
}

.gallery .feature_tiles li a {
	width: 93px;
	height: 80px;
}

.gallery .feature_tiles li a img {
	border: 0;
}

/*-----End of Gallery -------*/
/*--------------------------------
Calendar
--------------------------------*/
.fc table {
	margin-bottom: 0;
	margin-top: 0;
}

.fc thead tr th {
	line-height: 30px;
}

.fc .fc-agenda-divider {
	background: #333;
	border-color: #000;
}

.fc .fc-agenda-slots tr th {
	border-color: #959BA2;
	color: #555;
	text-shadow: 0 1px 0 #FFFFFF;
}

.fc .ui-state-highlight,.fc .ui-widget-content .ui-state-highlight,.fc .ui-widget-header .ui-state-highlight {
	background-color: #E6ECEF;
}

.fc .fc-event {
	padding: 5px;
	text-shadow: 0 1px 0 #000;
	margin: 2px 0 1px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.fc .fc-event.google {
	border: 1px solid #959BA2;
}

.fc .fc-event a,.fc-event-skin,.fc-event-vert .fc-event-bg {
	background: none;
}

.fc .fc-event .fc-event-inner {
	background: none;
	border: none;
}

ul#calendar_drag_list li {
	padding: 0;
}

ul#calendar_drag_list li a {
	padding: 10px;
	display: block;
	cursor: move;
}

/*-----End of Calendar -------*/
/*--------------------------------
iPhone and iPad formatting
--------------------------------*/
/*  iPad Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	#template_options {
	position: relative !important;
}

#sidebar div.cog {
	line-height: 40px !important;
	width: 40px !important;
	right: -40px !important;
}


}

/*  iPhone Landscape */
@media screen and (min-width: 321px) and (max-width: 480px) {
	a.logo {
	display: none;
	float: none !important;
	margin: auto !important;
}

#nav_top {
	margin: 0;
}

#nav_top ul {
	display: none;
}

#nav_top #mobile_nav {
	display: block;
}

#topbar .user_box {
	margin: 10px auto 0;
	float: none;
}

body div.main_container {
	margin: 10px 0 10px 1% !important;
	padding: 20px 2% 5px !important;
	width: 94% !important;
}

.col_100,.col_50,.col_33,.col_66,.col_25,.col_75,.col_60,.col_40 {
	width: 100% !important;
	margin: 0 !important;
}

body div.full_size {
	padding: none !important;
}

#template_options {
	position: relative !important;
}

div.main_container .box,div.main_container .flat_area {
	width: 100% !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	
}

#sidebar {
	display: none !important;
}

#topbar {
	display: block !important;
}

#template_options h3 {
	float: none !important;
	display: block !important;
	clear: both !important;
}

#template_options div {
	display: block;
}

div.full_size {
	padding: 0 !important;
}

div.full_size .box {
	margin: -20px -2% -5px !important;
	padding: 0% !important;
	width: 104% !important;
}

body {
	padding-bottom: 0 !important;
}

#loading_overlay .loading_message {margin-left: -76px;}

}

/*  iPhone Portrait */
@media screen and (max-width: 320px) {
	a.logo {
	display: none;
	float: none !important;
	margin: auto !important;
}

#nav_top {
	margin: 0;
}

#nav_top ul {
	display: none;
}

#nav_top #mobile_nav {
	display: block;
}

#topbar .user_box {
	margin: 10px auto 0;
	float: none;
}

body div.main_container {
	margin: 10px 1% 10px 1% !important;
	padding: 20px 2% 5px !important;
	width: 94% !important;
}

.col_100,.col_50,.col_33,.col_66,.col_25,.col_75,.col_60,.col_40 {
	width: 100% !important;
	margin: 0 !important;
}

body #nav_top ul li.current:first-child a {
	border-left-width: 1px !important;
}

#template_options {
	position: relative !important;
}

#template_options h3 {
	float: none !important;
	display: block !important;
	clear: both !important;
}

#template_options div {
	display: block;
}

#sidebar {
	display: none !important;
}

#topbar {
	display: block !important;
}

div.main_container .box,div.main_container .flat_area {
	width: 100% !important;
}

div.full_size {
	padding: 0 !important;
}

div.full_size .box {
	margin: -20px -2% -5px !important;
	padding: 0% !important;
	width: 104% !important;
}

body {
	padding-bottom: 0 !important;
}

#loading_overlay .loading_message {margin-left: -76px;}
}

/*-----End of iPhone -------*/
/*--------------------------------
Flot Graph
--------------------------------*/
.flot {
	width: 100%;
	margin: 0 0 5px;
	height: 300px;
	overflow: hidden;
}

/*-----End of Flot -------*/
/*--------------------------------
Login Box
--------------------------------*/


#login_box {
	display: block;
	position: relative;
	width: 500px;
	margin:0 auto 0;
}

#login_box a#login_logo {
	background: transparent url("../images/adminica_logo_black-trans.png") 0 -15px no-repeat;
	position: relative;
	display: block;
	height: 67px;
	width: 253px;
}

#login_box a#login_logo span {
	visibility: hidden;
}

.slider_unlock {
	height: 32px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 0;
	background: rgba(0, 0, 0, 0.05);

	-webkit-box-shadow: inset 0px 0px 2px 0px #bbb;
	-moz-box-shadow: inset 0px 0px 2px 0px #bbb;
	box-shadow: inset 0px 0px 2px 0px #bbb;
}

.slider_unlock .ui-slider-range {
	margin: 0;
	height: 32px;
}

.slider_unlock .ui-slider-handle {
	background: white;
	height: 32px;
	width: 32px;
	margin-left: 0;
	top: 0;
	background: transparent url("../images/unlock_slider.png") !important;
}

.slider_unlock .unlock_message {
	margin: 0;
	text-align: center;
	line-height: 32px;
	font-size: 14px;
}

/*-----End of Login Page -------*/


/*--------------------------------
Corners, Shadows & Highlights
--------------------------------*/
.text_shadow {
	text-shadow: 0px 1px 1px #000;
}

.text_highlight {
	text-shadow: 0px 1px 0px #fff;
}

.round_all,.box.no_titlebar .block,button, .dark_box, .side_accordion, .side_links, div.main_container .box h2.box_head.round_all,#sidebar ,div.main_container .box,.alert,.indent,div.main_container .gallery ul li a,.ui-slider-range,.ui-multiselect,.single_datatable .dataTables_filter input,.ui-multiselect input.search,
.breadcrumb,
ul.breadcrumb,
#login_box,
body .box .ui-multiselect input.search {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.flat_area h2,body round_all_small,.box .block input,.box .block textarea,#login_box .LV_validation_message,.dataTables_wrapper .ui-widget-header select,.slider_unlock,.slider_unlock.ui-slider-horizontal .ui-slider-range,.slider_unlock.ui-slider-horizontal .ui-slider-handle {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.round_bottom,.box .block,
.side_accordion > li:last-child > a,
.side_accordion > li:last-child,
.side_links li:last-child,
.side_links li:last-child a,
li:last-child ul.drawer,
li:last-child ul.drawer li,
li:last-child ul.drawer li:last-child a,
.button_bar,
#nav_top ul li ul.dropdown li:last-child a,#nav_top ul li ul.dropdown,#nav_top ul li ul.dropdown li:last-child ul.drawer li:last-child,#nav_top ul li ul.dropdown li:last-child ul.drawer li:last-child a,li:last-child .content_accordion .content,.content_accordion li:last-child .content,span.form_tag,.content_accordion li:last-child h3.bar,.dataTables_wrapper .ui-corner-bl,body #nav_top ul li.current:last-child a {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.round_top,.side_accordion li:first-child a,.side_accordion li:first-child,.side_links li:first-child,.side_links li:first-child a,.box h2.box_head,.tabs ul.tab_header,.tabs ul.tab_header li a,.block .content_accordion li:first-child h3.bar,.box.no_titlebar,.box.no_titlebar li:first-child,.box.no_titlebar li:first-child h3,.dataTables_wrapper .ui-corner-tl,.ui-datepicker .ui-datepicker-header,
.ui-dialog .ui-dialog-titlebar{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.round_left,div.main_container .tabs ul.tab_sider,div.main_container .tabs ul.tab_sider li a,.dataTables_wrapper .dataTables_paginate span.first,
ul.breadcrumb > li:first-child {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.round_right,.box .block.tab_sider,.dataTables_wrapper .dataTables_paginate span.last,
ul.breadcrumb > li:last-child {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.round_ynnn,#nav_top ul li:first-child a,#nav_top ul li:first-child,.fc thead tr th.fc-first, .ui-multiselect .selected .ui-widget-header  {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	border-top-left-radius: 3px;
}

.round_nnyn, #nav_top ul li:last-child a, #nav_top ul li:last-child{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	border-bottom-right-radius: 3px;
}

.round_nynn, .fc thead tr th.fc-last, .ui-multiselect .available .ui-widget-header  {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	border-top-right-radius: 3px;
}

.round_none,.content_accordion li h3.bar.ui-state-active {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

/* Tao boi nguago 22/5/2012 */
#nav_top, .indent, .flat_area, .box, .block {opacity: 1}