#widget-comment-wrapper .comment-item {}
#widget-comment-wrapper .comment-load {clear:both; display:none; height:18px; width:43px; margin:0 auto; background:url('../img/scrollPaging.gif') no-repeat bottom}
#widget-comment-wrapper .comment-finish {display:none; padding:5px 0; text-align:center; font-weight:bold}

.comment-msg {position:relative; margin-bottom:1px; padding:3px; color:#333; font-weight:bold; font-size:11px; border-radius:3px; overflow:hidden; display:none}
.comment-msgError {background:#ffd6d6; border:1px solid #ebb1b1}
.comment-msgSuccess {background:#e8ffca; border:1px solid #b3dc7c}
