/*Changed*/
#body-ct {
	padding: 10px 11px 0 9px;
	background: #fff;
	font-size: 12px;
}
#ct-header {
	border: #d5d5d5 1px solid;
	background: url(../images/ct-bg.png) repeat-x;
	min-height: 36px;	
}
#ct-breadcrumbs {
	margin: 0 10px;
	height: 19px;
	padding: 7px 0 0;
	border-bottom: #f1f1f1 1px solid;	
}
#ct-breadcrumbs .main-path {
	height: auto !important;
	padding: 0
}
#ct-breadcrumbs a {
	background: url(../images/ct-vg.png) no-repeat right 2px;
	margin-right: 5px;
	padding-right: 15px;
	font-weight: bold;
	color: #aa125f;
	text-transform: uppercase	
}
#ct-breadcrumbs a.last {
	background: none;
	color: #666;
	text-transform: none	
}
#ct-breadcrumbs a.last strong {
	font-weight: normal	
}
#ct-slider-items {
	position: relative;
	height: 114px;
	margin: 0 25px;		
}
#ct-slider-items a.prev, #ct-slider-items a.next {
	display: block;
	top: 45%;
	text-indent: -9999px;
	position: absolute;
	background: url(../images/ct-prev2.png) no-repeat;
	width: 18px;
	height: 20px	
}
#ct-slider-items a.prev {
	left: -25px	
}
#ct-slider-items a.next {
	right: -25px;
	background-image: url(../images/ct-next2.png)	
}
#ct-slider-items a:hover.prev {
	background-image: url(../images/ct-prev2-hover.png)	
}
#ct-slider-items a:hover.next {
	background-image: url(../images/ct-next2-hover.png)	
}
#ct-slider {
	height: 114px;	
	
}
#ct-slider .slides_control {
	
}
.ct-slider-item {
	float: left;
	height: 114px;
	width: 928px
}
.ct-slider-item .slider-item {
	float: left;
	width: 25%;
	height: 104px;
	padding: 10px 0 0	
}
#ct-slider a.ct-thumb {
	float: left;
	margin-right: 10px;	
}
.ct-slider-item a {
	font-weight: bold	
}
#ct-content {
	float: left;
	width: 668px;
	border-left: #d5d5d5 1px solid;	
	border-right: #d5d5d5 1px solid;
	min-height: 500px
}
#ct-content p.image {
	text-align: center;
	padding: 5px 0	
}
#ct-navbar {
	float: right;
	width: 300px;
	padding: 12px 0 0	
}
.ct-qc {
	margin: 0 0 10px	
}
.ct-widget-header {
	height: 27px	
}
.ct-widget-header h4 {
	float: left;
	height: 27px;
	background: url(../images/ct-navbar-right.png) no-repeat right top;
	padding-right: 5px		
}
.ct-widget-header h4 span {
	display: block;
	background: url(../images/ct-navbar-left.png) no-repeat;
	height: 27px;
	padding: 0 0 0 10px
}
.ct-widget-header h4 a {
	display: block;
	height: 18px;
	color: #fff;
	font-size: 11px;
	padding: 4px 10px 0 0;
	text-transform: uppercase;
	background: url(../images/ct-navbar-bg.png) repeat-x;
}
.ct-widget {
	margin: 0 0 10px	
}
.ct-widget-content {
	background: #fcfcfc url(../images/ct-wbg.png) repeat-x;
	border: #dcdcdc 1px solid;
	margin: -7px 0 0;
	padding: 0 10px;	
}
.ct-widget-content .first {
	border-top-width: 0	
}
.ct-entry {	
	padding: 10px;	
}
.ct-entry img {
	max-width: 648px;	
}
.ct-entry h1 {
	font-size: 22px;
	font-weight: normal;
	color: #a01164	
}
.ct-entry h2 {
	font-size: 13px;
	line-height: 1.6em;
	padding: 0 0 15px
}
.ct-entry p {
	padding: 0 0 13px;		
	line-height: 1.6em;
	text-align: justify
}
.ct-entry p a {
	color: #A01164	
}
.ct-entry p.avata img {
	display: block;
	margin-left: auto;
	margin-right: auto	
}
.ct-entry p.avata em {
	text-align: center;
	display: block;
	color: #0000CC	
}
.ct-entry table {
	border: 1px solid #ccc	
}
.ct-entry table td {
	padding: 5px
}
.ct-time-public {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	padding: 5px 0 10px	
}
.tin-ky {
	padding: 7px 0;
	background: #efefef;
	margin: 5px 0 10px	
}
.ct-event {
	padding: 0 0 10px	
}
.ct-other-left {
	width: 315px;
	float: left	
}
.ct-other-right {
	width: 311px;
	float: right;
	padding: 0 15px 0 0;
	border-left: #d7d6d6 1px solid;
	height: 600px	
}
.ct-other-right2 {
	padding-top: 21px	
}
.ct-other-right3 {
	height: 319px
}
.ct-event a {
	text-decoration: underline
}
.ct-other h4 {
	background: url(../images/ct-other-right.png) no-repeat right top;
	padding: 0 26px 0 0;
	float: left;
	margin-left: 10px
}
.ct-other h4 span {
	display: block;
	height: 21px;
	background: url(../images/ct-other-left.png) repeat-x;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	float: left;
	padding: 0 10px 0 5px;
	line-height: 21px	
}
.ct-other ul {
	padding: 20px 0 0 10px;
	min-height: 300px;
	overflow: hidden
}
.ct-other ul li {
	background: url(../images/ct-vv.gif) no-repeat 0 5px;
	padding: 0 0 10px 10px;
	line-height: 1.5em
}
.ct-other ul li a {
	color: #004276	
}
.ct-other ul li span {
	color: #aaa;
	padding-left: 5px;
	font-size: 12px	
}
.ct-other-paging {
	text-align: right;
	padding: 10px 0 20px
}
.ct-other-paging a {
	padding-left: 3px;
	padding-right: 3px;
	font-size: 12px
}
.ct-other-paging a.current {
	color: #900a57	
}
.ct-other-qc {
	text-align: right	
}
.ct-other-day {
	padding: 0 0 30px;
	font-size: 12px;
	text-align: right	
}
.ct-other-day input.ct-submit {
	background: url(../images/ct-search.png) no-repeat;
	width: 26px;
	height: 22px;
	border: 0;
	padding: 0;
	margin: 0;
	cursor: pointer	
}
.ct-other-day input.ct-text {
	width: 181px;
	border: #cacaca 1px solid;
	height: 18px	
}
.ct-other-tools li {
	width: 45%;
	float: left	
}
.ct-qcc {
	text-align: center;
	padding: 10px 0	20px
}
.ct-poll {
	width: 217px;
	margin: 0 auto 20px;
	padding: 2px;
	font-size: 12px;
	background: #b31165	
}
.ct-poll h3 {
	font-size: 12px;
	color: #fff;
	padding: 3px 0 3px 5px;
	text-transform: uppercase	
}
.ct-poll-content {
	padding: 5px;
	background: #fff;
	border: #870e4d 1px solid
}
.ct-poll-content li {
	padding: 0 0 5px	
}
.ct-poll-bottom {
	padding: 5px 0;
	height: 21px;	
}
.ct-poll-bottom a {
	float: right;
	padding: 5px 10px 0;
	text-decoration: underline;
	color: #fff;
	font-weight: bold;
	display: blocks
}
.ct-poll-bottom a.as {
	float: left;
	background: url(../images/ct-button.png) no-repeat;
	width: 80px;	
	text-decoration: none;
	padding: 4px 0 0;
	height: 17px;
	color: #000;
	text-align: center;
}
.ct-tags {
	font-weight: bold;
	color: #b4b4b4;
	margin: 0 0	20px	
}
.ct-tags strong {
	font-weight: bold;
	background: url(../images/ct-tag.png) no-repeat;
	width: 57px;
	display: block;
	float: left;
	text-indent: 10px;
	height: 22px;
	line-height: 22px	
}
.ct-tags a {
	padding-left: 5px;
	line-height: 22px;
	font-weight: bold;
	color: #b4b4b4	
}
.ct-related {
	width: 439px;
	background: #f1d0e1;
	border: #e5c6d7 1px solid;
	margin: 0 auto 20px;
	padding: 10px;	
}
.ct-related ul {
	padding: 0 30px	
}
.ct-related li {
	padding: 0 0 8px 20px;
	background: url(../images/ct-vvf.png) no-repeat 0 5px;	
}
.main-detail-share {
	border-top: #d5d5d5 1px solid;	
}
.ct-author {
	text-align: right;
	padding: 10px 0;
	font-weight: bold;
	color: #000	
}
.ct-item {
	border-top: #ccc 1px dotted;
	padding: 10px 0;
	width: 100%;
	float: left	
}
.ct-item a.thumb {
	float: left;
	margin-right: 10px;
}
#ct-comment {
	width: 468px;
	margin: 0 auto	
}
#ct-comment h4 {
	padding: 0 0 5px;
	font-size: 12px;
}
#ct-comment p {
	padding: 0 0 5px	
}
#ct-comment p.sb {
	height: 22px	
}
#ct-comment p.sb input, #ct-comment p.sb span {
	float: right		
}
#ct-comment p.sb input#myimg {
	border: #ccc 1px solid;
	height: 16px;
	margin-right: 5px;
	margin-left: 5px
}
#ct-comment p.sb input.send_button {
	font-size: 11px;
	height: 20px;	
}
#ct-comment #txt_name, #ct-comment #txt_email {
	border: #ccc 1px solid;
	padding: 5px;	
	width: 217px;
}
#ct-comment #txt_name {
	
	margin-right: 5px	
}

#ct-comment textarea {
	width: 456px;
	border: #ccc 1px solid;
	height: 116px;
	padding: 5px;	
}
#ct-events {
	padding: 10px	
}
.ct-event-item {
	float: left;
	width: 100%;
	padding: 15px 0	
}
.ct-event-item h2 a {
	font-size: 13px;
}
#ct-events .first {
	padding-top: 0	
}
#ct-events .first a.ct-thumb img {
	width: 347px;
	height: 255px;	
}
#ct-events .first h2 {
	padding: 0 0 5px	
}
#ct-events .ct-timer {
	color: #999;
	font-size: 12px	
}
#ct-events .first h2 a {
	font-size: 22px;
	font-weight: normal;
	color: #a01164	
}
.ct-event-item p {
	padding: 10px 0 0	
}
.ct-event-item a.ct-thumb {
	float: left;
	margin-right: 10px	
}
.ct-other ul.ct-event-others {
	height: 210px	
}
.ct-other ul.ct-event-others li {
	float: left;
	width: 47%;
}
#ct-comment-items {
	padding: 0 0 15px	
}
#ct-comment-items h4 {
	font-size: 13px;
	padding: 0 0 5px;	
}
.ct-comment-item {
	padding: 10px 0;
	border-bottom: #ccc 1px dotted
}
.ct-comment-content {
	padding: 10px 0 0	
}
.ct-comment-date {
	font-size: 12px;
	color: #ccc	
}
#ct-breadcrumbs .main-path .select {
	top: -4px;
	z-index: 9;	
}
#ct-breadcrumbs .select a {
	background: none;
	text-transform: none;
	color: #333;
	font-weight: normal;
	padding-right: 15px;
	margin-right: 0	
}
em.alt-img {
	color: #00c;
	display: block;
	padding: 5px 0	
}
#ct-video {
	width: 528px;
	margin: 20px auto	
}
#ct-video-links {
	background: #e4e4e4;
	padding: 5px;
	font-size: 12px
}
#ct-video-links a {
	padding-left: 5px;
	padding-right: 5px	
}
#ct-video-share {
	padding: 5px 0 0	
}
#ct-video-share a, .ct-video-text a {
	display: block;
	float: left;
	height: 33px;
	text-indent: -9999px;
	cursor: pointer;
	background: url(../images/ct-video-icons.png) no-repeat;
	line-height: 33px;
}
#ct-video-share a.like {
	width: 66px	
}
#ct-video-share a.unlike {
	width: 34px;
	background-position: -66px 0	
}
#ct-video-share span {
	float: right;
	display: block;
	padding: 10px 10px 0 0	
}
#ct-video-share a.viewstotal {
	width: 30px;
	float: right;
	background-position: -289px 0	
}
#ct-video-share a.share-button {
	width: 64px;
	text-indent: 0;
	margin-left: 6px;	
	text-align: center;
	background-position: -103px 0	
}
.ct-video-text a.button2 {
	width: 64px;
	text-indent: 0;
	margin-left: 6px;	
	text-align: center;
	background-position: -103px 0
}
.ct-video-col3 a {
	width: 32px;
	float: right;
	margin-left: 5px
}
.ct-video-text a.facebook {
	background-position: -172px 0;	
}
.ct-video-text a.twitter {
	background-position: -212px 0;	
}
.ct-video-text a.google {
	background-position: -252px 0;	
}
.ct-video-text {
	float: left;
	width: 124px;
	border-left: #e8e8e8 1px solid;
	height: 60px;
	margin: 15px 0 0	
}
.ct-video-col1 {
	border-left: 0;
	width: 254px	
}
.ct-video-col1 input {
	width: 90%;
	padding: 5px;
	border: #ccc 1px solid;	
}
.ct-video-col2 {
	width: 148px	
}
.ct-other-videos h4 {
	margin-left: 0	
}
.ct-video-slider {
	background: url(../images/ct-video-others.jpg) repeat-x;
	height: 156px;
	margin: 0 0 15px
}
#ct-video-slider {
	margin: 0 25px;
	position: relative;
	height: 156px
}
#ct-video-slider a.next, #ct-video-slider a.prev {
	display: block;
	height: 33px;
	width: 13px;
	text-indent: -9999px;
	cursor: pointer;
	position: absolute;
	top: 41%;
	background: url(../images/ct-video-next.png) no-repeat
}
#ct-video-slider a.next {
	right: -20px;	
}
#ct-video-slider a.prev {
	left: -20px;
	background-image: url(../images/ct-video-prev.png)
}
#ct-video-slider a:hover.next {	
	background-image: url(../images/ct-video-nexth.png)
}
#ct-video-slider a:hover.prev {
	background-image: url(../images/ct-video-prevh.png)
}
.ct-video-items {
	padding: 15px 0 0;
	float: left;
	height: 141px;
	width: 598px;	
}
.ct-video-item {
	float: left;
	height: 141px;
	padding: 0 0 0 15px;
	width: 134px	
}
.ct-video-item a.ct-thumb {
	display: block;
	padding: 0 0 5px;
}
#ct-facebook-like {
	font-weight: bold;
	color: #3B5998;
	padding: 10px 0
}
#ct-facebook-like a {
	color: #3B5998	
}