
#social-slider { height: 173px; margin: 0 0 10px; width: 954px; position: relative; background: #d9d7d7; padding: 0 0 0 26px }
#social-slider a.back, #social-slider a.next { display: block; width: 23px; height: 97px; text-indent: -9999px; cursor: pointer; top: 20px; position: absolute; background: #a8a7a7 url(../images/tinh/back.gif) no-repeat 4px 29px }
#social-slider a.back { left: 0; }
#social-slider a.next { right: 0; background-image: url(../images/tinh/next.gif) }
.social-slider-items { width: 928px; height: 173px; overflow: hidden; position: relative }
.social-slider-items ul { position: absolute; width: 20000em; }
.social-slider-items ul li { width: 924px; float: left; padding: 5px 0 0 4px }
.social-slider-item { width: 144px; padding: 0 0 0 10px; float: left }
.social-slider-item img { display: block; margin: 2px 0 5px }
.social-slider-item a.title2 { font-weight: bold; color: #111; overflow: hidden; height: 44px; display: block; padding-right: 10px }
a.social-more { font-weight: bold; color: #7a7a7a; background: url(../images/cc.gif) no-repeat 0 5px; padding-left: 15px; margin: 0 0 3px 10px; display: block; line-height: 18px }

