#box { position: relative }
#tooltip { position: absolute; z-index: 3000; border: 1px solid #111; background-color: #eee; padding: 5px; opacity: 0.85; }
#tooltip h3, #tooltip div { margin: 0; }
.social-map { height: 439px; background: #eef7fd url(../images/bando_63tinhthanh.png) no-repeat }
.map-zone { position: absolute; width: 88px; height: 11px; top: 250px; left: -99999px; z-index: 9 }
.map-zone .tooltip { position: absolute; width: 146px; border: #969494 1px solid; background: #fff; overflow: hidden; height: 166px; display: none; top: -202px; z-index: 99; padding: 3px 0 0 14px }
.map-zone .tooltip img { display: block; padding: 2px 0 }
.map-zone .tooltip a.title { display: block; color: #111; height: 44px; overflow: hidden; padding-right: 14px }
.map-zone a.social-viewmore, .map-zone a.social-zoom { display: block; text-indent: -9999px; height: 11px; overflow: hidden }
.map-zone a.social-zoom { height: 15px }
.map-zone:hover { cursor: pointer }
.map-zone:hover .tooltip { display: block }
.map-zone:hover .tooltip h4 { font-weight: normal; color: #333 }
#hagiang .tooltip { top: -138px; }
#hagiang { top: 274px; left: 482px; }
.map-zone-left .tooltip, .map-zone-laichau .tooltip, .map-zone-dienbien .tooltip, .map-zone-yenbai .tooltip, .map-zone-phutho .tooltip, .map-zone-hoabinh .tooltip, .map-zone-hanam .tooltip, .map-zone-nghean .tooltip, .map-zone-quangtri .tooltip, .map-zone-quangnam .tooltip, .map-zone-kontum .tooltip, .map-zone-gialai .tooltip, .map-zone-daklak .tooltip, .map-zone-daknong .tooltip, .map-zone-lamdong .tooltip, .map-zone-binhphuoc .tooltip, .map-zone-binhduong .tooltip, .map-zone-tayninh .tooltip, .map-zone-dongthap .tooltip, .map-zone-angiang .tooltip, .map-zone-kiengiang .tooltip, .map-zone-cantho .tooltip { left: -163px; top: -113px }
.map-zone-hanoi .tooltip, .map-zone-hochiminh .tooltip { left: -70px; }
#hanoi { height: 21px; left: 495px; top: 317px; width: 21px; }
#hochiminh { height: 21px; left: 550px; top: 581px; width: 21px; }
#laichau { left: 389px; top: 285px; width: 101px; }
#yenbai { left: 398px; top: 315px; width: 94px; }
#phutho { left: 401px; top: 329px; width: 86px; }

#hoabinh { left: 426px; top: 343px; width: 73px; }

#hanam { left: 442px; top: 357px; width: 60px; }

#nghean { left: 432px; top: 383px; width: 81px; }
#quangtri { left: 480px; top: 440px; width: 80px; }

#quangnam { left: 490px; top: 458px; width: 75px; }

#kontum { left: 513px; top: 482px; width: 83px; }

#gialai { left: 517px; top: 495px; width: 58px; }
#daklak { left: 501px; top: 509px; width: 70px; }
#daknong { left: 501px; top: 523px; width: 71px; }


#lamdong { left: 497px; top: 537px; width: 84px; }
#binhphuoc { left: 481px; top: 56px; width: 94px; } /* */
#binhduong { left: 470px; top: 565px; width: 102px; }
#tayninh { left: 464px; top: 579px; width: 84px; }
#dongthap { left: 428px; top: 594px; width: 117px; }
#angiang { left: 422px; top: 608px; width: 99px; }
#cantho { left: 447px; top: 621px; width: 67px; }
#kiengiang { left: 435px; top: 635px; width: 71px; }
#dienbien { left: 372px; top: 301px; width: 115px; }
.map-zone-right .tooltip, .map-zone-hagiang .tooltip, .map-zone-caobang .tooltip, .map-zone-langson .tooltip, .map-zone-quangninh .tooltip, .map-zone-haiphong .tooltip, .map-zone-namdinh .tooltip, .map-zone-ninhbinh .tooltip, .map-zone-thanhhoa .tooltip, .map-zone-hatinh .tooltip, .map-zone-quangbinh .tooltip, .map-zone-thuathienhue .tooltip, .map-zone-danang .tooltip, .map-zone-quangngai .tooltip, .map-zone-binhdinh .tooltip, .map-zone-phuyen .tooltip, .map-zone-khanhhoa .tooltip, .map-zone-ninhthuan .tooltip, .map-zone-binhthuan .tooltip, .map-zone-bariavungtau .tooltip, .map-zone-tiengiang .tooltip, .map-zone-bentre .tooltip, .map-zone-soctrang .tooltip, .map-zone-baclieu .tooltip, .map-zone-camau .tooltip { right: -163px; top: -113px }
.map-zone-hagiang .tooltip { top: -133px }
#dongnai, #thainguyen { display: none }
#caobang { left: 501px; top: 285px; width: 94px; }
#langson { left: 496px; top: 300px; width: 103px; }
#quangninh { left: 518px; top: 313px; width: 116px; }
#haiphong { left: 523px; top: 327px; width: 94px; }
#namdinh { left: 508px; top: 341px; width: 76px; }
#ninhbinh { left: 509px; top: 356px; width: 66px; }
#thanhhoa { left: 469px; top: 369px; width: 99px; }
#hatinh { left: 489px; top: 398px; width: 71px; }
#quangbinh { left: 511px; top: 425px; width: 93px; }
#thuathienhue { left: 543px; top: 454px; width: 110px; }
#danang { left: 570px; top: 468px; width: 63px; }
#quangngai { left: 580px; top: 495px; width: 84px; }
#binhdinh { left: 577px; top: 509px; width: 81px; }
#phuyen { left: 579px; top: 523px; width: 73px; }
#khanhhoa { left: 585px; top: 537px; width: 83px; }
#ninhthuan { left: 583px; top: 551px; width: 88px; }
#binhthuan { left: 578px; top: 565x; width: 90px; }
#bariavungtau { left: 583px; top: 579px; width: 85px; }
#tiengiang { left: 574px; top: 594px; width: 73px; }
#bentre { left: 529px; top: 608px; width: 82px; }
#soctrang { left: 519px; top: 621px; width: 79px; }
#baclieu { left: 510px; top: 636px; width: 63px; }
#camau { left: 488px; top: 650px; width: 55px; }
#phongto { height: 15px; left: 612px; top: 655px; width: 59px; }
a.title { color: #000 }
.main-cat-contentleft { }
.box-cat { border: #ccc 1px solid; background: #fff }
.news-cat-focus img.fo { float: left; margin: 0 10px 0 0; width: 309px; height: 227px }
.news-cat-focus ul li img.bo { width: 132px; height: 97px; }
.news-cat-focus ul { border-top: #ccc 1px solid; border-bottom: #ccc 1px solid; float: left; width: 100%; padding: 10px 0; background:url(../images/sukien/event-focus.gif) repeat }
.news-cat-focus li { float: left; width: 21.1%; padding: 0 10px; text-align: left }
.news-cat-on { padding:10px }
.news-cat-on a { font-size:18px; color: #901e78 }
.news-cat-on a.title2 { font-size: 12px; color: #333 }
.news-cat-on p { padding: 7px 0 }
.news-cat-on a.x-more { background-position: 0 10px; padding-top: 5px; }
a.x-more:hover { color: #333 }
.cate-items ul { padding: 10px }
.cate-items ul.fr li { padding: 10px 0 15px; border-bottom: #ccc 1px dashed }
.cate-items a.more { padding-top: 5px; background-position: 0 10px }
.cate-items ul.fr li p { padding: 8px 0 0; }
.cate-items ul.fr li .bo { float: left; margin: 0 10px 10px 0; width: 132px; height: 97px }
.viewall { text-align: right; padding: 10px 10px 0 0 }
.viewall a { background: url(../images/view.gif) no-repeat; padding: 0 0 0 25px; color: #767575; font-weight: bold }
.cate-items h3 { background: #a41a88 url(../images/h2title2.png) no-repeat right; height: 25px; float: left; font-size: 11px; color: #fff; padding: 0 26px 0 0; text-transform: uppercase }
.cate-items h3 span { display: block; padding: 5px 39px 0 10px; background: url(../images/h2title1.gif); height: 20px }
.cate-items ul.others { clear: left }
.cate-items ul.others li { padding: 0 0 7px 15px; background-position: 0 8px; color: #ccc }
.cate-items ul.others li a { padding-right: 5px; color: #333; font-size: 13px }
.view-date { padding: 0 10px 10px }
.view-date label { text-transform: uppercase; font-weight: bold; padding-right: 5px }
.cate-detail { padding: 10px; font-family: "Times New Roman", Times, serif; font-size: 15px; }
.cate-detail h1 { line-height: 1.1em; font-size: 22px; padding: 0 0 10px }
.cate-detail p { line-height: 19px; padding: 0 0 10px }
.cate-detail-share { height: 20px }
.cate-detail-share a { background: url(../images/detail.png) no-repeat }
.cate-detail-share a.facebook, .cate-detail-share a.twitter, .cate-detail-share a.buzz, .cate-detail-share a.bit, .cate-detail-share a.mail, .cate-detail-share a.print { background-position: -20px 0; width: 12px; height: 14px; display: block; float: right; text-indent: -99999px; margin-left: 5px }
.cate-detail-share a.twitter { background-position: -6px 0; }
.cate-detail-share a.buzz { background-position: -16px -16px; width: 16px }
.cate-detail-share a.bit { background-position: -2px -16px; }
.cate-detail-share a.mail, .cate-detail-share a.print { text-indent: 0; width: 30px; background-position: -21px -30px; padding-left: 15px; font-size: 10px; color: #666; line-height: 20px; margin-left: 20px; font-family: Arial, Helvetica, sans-serif }
.cate-detail-share a.print { width: 38px }
.news-subcat { padding: 10px 10px 0 5px; font-size: 11px; color: #767575; position: relative }
.news-subcat p { position: absolute; top: 5px; right: 10px }
.news-subcat p select { font-size: 11px; text-align: center; width: 116px; padding: 1px; border: #ccc 1px solid }
.news-subcat a { color: #767575; padding: 0 5px }
.joc-source { text-align: right; padding: 10px 0 }
.social-ul-navbar li a.x-more { font-weight: normal; border-top: #ccc 1px dashed; color: #333; padding-top: 5px; padding-left: 10px; background: url(../images/vv.gif) no-repeat 0 10px; margin: 0 60px 0 16px }
.social-ul-navbar li a.a-first { border-top: 0 }
.main-social { width: 478px; float: left }
.main-social .box-style-2 ul.style { width: 270px }
.main-social .box-style-2 ul.style a.title, .social-slider-item a:hover.title2 { color: #a21266 }
.main-social .box-style-2 ul.style a:hover.title { color: #910e78 }
.main-social .box-style-2 .news-other { width: 178px }
.main-social .box-news-content { padding-right: 5px }
.main-social .box-news { margin: 0 0 10px }
.social-adv { padding: 0 0 8px }
.social-focus { height: 427px; margin: 0 0 10px }
.social-box-focus { float: left; width: 670px; border-bottom: 0; height: 440px; overflow: hidden }
.social-hot { width: 347px; float: left; height: 432px; overflow: hidden; }
.social-hot a img { width: 347px; height: 255px }
.social-hot h2 { font-size: 15px; padding: 6px 0 0 }
.social-hot-select { height: 30px; position: relative }
.social-hot .social-hot-select p { position: absolute; right: 0; padding: 0; top: 5px }
.social-title { min-height: 51px; background: #cbcaca; position: relative; margin: 1px 0 0; padding: 5px 20px 0 23px }
.social-title span { display: block; width: 17px; height: 24px; background: url(../images/v-new.png); position: absolute; top: -5px; text-indent: -9999px; left: 2px }
.social-title a.title { font-size: 18px; line-height: 22px; overflow: hidden; padding: 0 0 5px; display: block }
.social-hot p { padding: 10px }
.social-hot-other { float: right; background: #ededed; width: 313px; height: 430px;overflow: hidden; }
.social-hot-other-head { background: #cac9c9; height: 21px; position: relative }
.social-hot-other-head .select { position: absolute; right: 0; padding: 0; top: 2px; width: 120px }
.social-hot-other .social-hot-other-head .select ul li { padding: 3px 5px;  text-transform: none; border-top: #ccc 1px dotted; float: none; text-align: left }
.social-hot-other-head .select ul li a { font-weight: normal }
.social-hot-other-head select { position: absolute; font-size: 11px; right: 3px; top: 0 }
.social-hot-other .social-hot-other-head ul { padding: 0 }
.social-hot-other .social-hot-other-head ul li { float: left; padding: 0; border-top: 0; background: none; height: 21px; padding: 0 5px 0 0; position: relative; text-align: center; text-transform: uppercase }
.social-hot-other .social-hot-other-head ul li span { display: none; position: absolute; left: 16px; bottom: -6px; width: 11px; height: 6px; text-indent: -9999px; }
.social-hot-other .social-hot-other-head ul li.current span { display: block; background: url(../images/1-head_down.png) no-repeat }
.social-hot-other .social-hot-other-head ul li.current { background: url(../images/1-head_right.png) no-repeat right top; }
.social-hot-other .social-hot-other-head ul li.current a { background: url(../images/1-head_bg.png); color: #fff }
.social-hot-other .social-hot-other-head ul li.tm { width: 64px; }
.social-hot-other .social-hot-other-head ul li.tt { width: 64px; width: 112px }
.social-hot-other .social-hot-other-head ul li a { display: block; height: 18px; color: #000; padding: 3px 0 0 }
.social-hot-other h3 { height: 20px; text-transform: uppercase; background: #c4c4c4; font-size: 12px; padding: 5px 0 0 10px }
.social-hot-other ul { padding: 15px;  }
.social-hot-other ul li { padding: 4px 0 4px 10px; background: url(../images/1-vv.gif) no-repeat 0 10px; border-top: #aaa 1px dotted }
.social-hot-other ul li.first { border-top: 0 }
.social-hot-other ul li a { font-weight: bold; color: #004276 }
.social-hot-other ul li a.social-zone { font-weight: normal; color: #a11265; padding-left: 0 }
.social-hot-other ul li a:hover { color: #c70375 }
.social-video { width: 300px; float: right }
.social-video-list { height: 147px; background: #505050 url(../images/video-bg.png) repeat-x; margin: 0 0 8px; position: relative; padding: 0 0 0 26px }
.social-video-items { width: 316px; overflow: hidden; height: 147px; position: relative }
.social-video-items ul { position: absolute; width: 20000em; }
.social-video-items ul li { width: 316px; float: left; }
.social-video-item { float: left; padding: 10px 0 0 10px; width: 148px; }
.social-video-item p.video-image { width: 132px; height: 97px; position: relative }
.social-video-item p.video-image a { display: block; height: 97px; width: 132px; top: 0; left: 0; position: absolute; z-index: 9; background: url(../images/tinh/play.png) center center }
.social-video-item p.video-image a:hover { background-image: none }
.social-video-item a.title { color: #fff; padding: 3px 10px 0 0; display: block; }
.social-video-list a.next, .social-video-list a.back { position: absolute; display: block; width: 23px; cursor: pointer; height: 97px; top: 11px; background: #333 url(../images/tinh/video-next.png) no-repeat 7px 32px; text-indent: -9999px; }
.social-video-list a.back { background-image: url(../images/tinh/video-back.png); left: 3px }
.social-video-list a.next { right: 3px }
#social-slider { height: 173px; margin: 0 0 10px; width: 954px; position: relative; background: #d9d7d7; padding: 0 0 0 26px }
#social-slider a.back, #social-slider a.next { display: block; width: 23px; height: 97px; text-indent: -9999px; cursor: pointer; top: 20px; position: absolute; background: #a8a7a7 url(../images/tinh/back.gif) no-repeat 4px 29px }
#social-slider a.back { left: 0; }
#social-slider a.next { right: 0; background-image: url(../images/tinh/next.gif) }
.social-slider-items { width: 928px; height: 173px; overflow: hidden; position: relative }
.social-slider-items ul { position: absolute; width: 20000em; }
.social-slider-items ul li { width: 924px; float: left; padding: 5px 0 0 4px }
.social-slider-item { width: 144px; padding: 0 0 0 10px; float: left }
.social-slider-item img { display: block; margin: 2px 0 5px }
.social-slider-item a.title2 { font-weight: bold; color: #111; overflow: hidden; height: 44px; display: block; padding-right: 10px }
a.social-more { font-weight: bold; color: #7a7a7a; background: url(../images/cc.gif) no-repeat 0 5px; padding-left: 15px; margin: 0 0 3px 10px; display: block; line-height: 18px }
.bts {
    border: 1px solid #B3813D;
    margin: 0 auto 10px;
    width: 298px;
	background:url(../images/seagame26.jpg) no-repeat center ;
}
.bts table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    width: 100%;
	background:none;
}
.bts table .sp {
    width: 38%;
}
.bts table th {
    background:#986A2B;
    border: 1px solid #FFF;
    color: #FFF;
    font: bold 12px tahoma;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}
.bts table .vn td {
    font-weight: bold;
}
.bts table td {
    color: #2D230D;
    font: 12px tahoma;
    padding: 6px 5px;
    text-align: center;
    vertical-align: middle;
	background:none;
}
.bts table .vg {
}
.bts table .bc {
}
.bts table .dg {
}
.bts {margin: 10px auto !important;}
.bts img { margin:0 !important;}
.bg_comment {
    background: url("../images/comment_header.JPG") repeat scroll 0 0 transparent;
    height: 1px;
    padding-left: 10px;
    width: 460px;
}
.sendcomment div img {
    margin-right: 10px;
}
.sendcomment div span {
    font-size: 20px;
    font-weight: bold;
}
.sendcomment .row {
    float: left;
    padding-top: 7px;
    width: 460px;
}
.sendcomment .col1 {
    float: left;
    padding-left: 0;
    width: 249px;
}
.sendcomment .row {
    float: left;
    padding-top: 7px;
    width: 460px;
}
.sendcomment div span {
    font-size: 20px;
    font-weight: bold;
}
textarea {
    -moz-appearance: textfield-multiline;
    -moz-user-select: text;
    background-color: -moz-field;
    cursor: text;
    letter-spacing: normal;
    margin: 1px 0;
    resize: both;
    text-align: start;
    text-indent: 0;
    text-rendering: optimizelegibility;
    text-shadow: none;
    text-transform: none;
    vertical-align: text-bottom;
    word-spacing: normal;
    word-wrap: break-word;
}
textarea {
    border: 1px solid #7E9EB7;
    color: #979797;
    font-family: Arial;
    font-size: 12px;
    height: 118px;
    width: 460px;
}
.sendcomment .row {
    float: left;
    padding-top: 7px;
    width: 468px;
}
.ver input {
    padding-left: 10px;
    padding-right: 250px;
}
.ver input {
    background: url("../images/bg_input.jpg") no-repeat scroll 0 0 transparent;
    height: 24px;
    width: 204px;
}
.comment {
    overflow: hidden;
    padding-left: 10px;
    width: 460px;
}
.comment .header {
    background-position: 0 0;
    height: 30px;
    width: 460px;
}
.TongSoComment {
    color: #666666;
    float: right;
    font-family: arial;
    font-size: 16px;
    font-weight: 700;
    padding-right: 0px;
    padding-top: 2px;
}
.comment .item .top {
    background-image: url("../images/top.png");
    background-position: 0 -30px;
    height: 7px;
    width: 460px;
}
.comment .item .middle {
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    float: left;
    width: 458px;
}
.comment .item .middle .name {
    float: left;
    padding-left: 10px;
    padding-top: 6px;
    width: 460px;
}
.comment .item .middle .name .icon {
    background-image: url("../images/avatar.jpg");
    background-position: 0 -60px;
    float: left;
    height: 22px;
    width: 21px;
}
.comment .item .middle .name .text {
    color: #E20A17;
    float: left;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    padding-left: 7px;
    padding-top: 4px;
}
.comment .item .middle .name .date {
    color: #999999;
    float: left;
    font-family: Arial;
    font-size: 11px;
    padding-left: 3px;
    padding-top: 4px;
}
.comment .item .middle .email {
    color: #999999;
    float: left;
    font-family: Arial;
    font-size: 11px;
    padding-left: 10px;
    width: 460px;
}
.comment .item .middle .content {
    color: #666666;
    float: left;
    font-family: Arial;
    font-size: 12px;
    padding: 8px 10px;
    width: 445px;
}