		
<article class="tile ftg-set-3">
    <a href="http://farm3.staticflickr.com/2846/8909951760_6fba14f276_z.jpg">
        <img class="item" src="http://farm3.staticflickr.com/2846/8909951760_6fba14f276_m.jpg" />
        <div class="caption">
            <p>_MG_0055</p>
        </div>
    </a>
</article>


<article class="tile ftg-set-1">
    <a href="http://farm8.staticflickr.com/7442/8909953294_a0d7c28748_z.jpg">
        <img class="item" src="http://farm8.staticflickr.com/7442/8909953294_a0d7c28748_m.jpg" />
        <div class="caption">
            <p>_MG_0411</p>
        </div>
    </a>
</article>


<article class="tile ftg-set-1">
    <a href="http://farm4.staticflickr.com/3830/8909965958_99e94f9a24_z.jpg">
        <img class="item" src="http://farm4.staticflickr.com/3830/8909965958_99e94f9a24_q.jpg" />
        <div class="caption">
            <p>_MG_9578</p>
        </div>
    </a>
</article>


<article class="tile ftg-set-3">
    <a href="http://farm6.staticflickr.com/5460/8909329569_80686862a5_z.jpg">
        <img class="item" src="http://farm6.staticflickr.com/5460/8909329569_80686862a5_m.jpg" />
        <div class="caption">
            <p>Wildlife Heritage Foundation - May 2013</p>
        </div>
    </a>
</article>


<article class="tile ftg-set-1">
    <a href="http://farm3.staticflickr.com/2811/8909954312_082199179f_z.jpg">
        <img class="item" src="http://farm3.staticflickr.com/2811/8909954312_082199179f_n.jpg" />
        <div class="caption">
            <p>_MG_0429</p>
        </div>
    </a>
</article>


<article class="tile ftg-set-1">
    <a href="http://farm9.staticflickr.com/8406/8909341923_70bc924f4a_z.jpg">
        <img class="item" src="http://farm9.staticflickr.com/8406/8909341923_70bc924f4a_q.jpg" />
        <div class="caption">
            <p>_MG_8895</p>
        </div>
    </a>
</article>


<article class="tile ftg-set-2">
    <a href="http://farm6.staticflickr.com/5331/8909968932_de87d49fa7_z.jpg">
        <img class="item" src="http://farm6.staticflickr.com/5331/8909968932_de87d49fa7_n.jpg" />
        <div class="caption">
            <p>_MG_7255</p>
        </div>
    </a>
</article>


<article class="tile ftg-set-3">
    <a href="http://farm4.staticflickr.com/3828/8909337951_7c8248d48c_z.jpg">
        <img class="item" src="http://farm4.staticflickr.com/3828/8909337951_7c8248d48c_n.jpg" />
        <div class="caption">
            <p>:)</p>
        </div>
    </a>
</article>


<article class="tile ftg-set-1">
    <a href="http://farm3.staticflickr.com/2885/8909912190_163616184f_z.jpg">
        <img class="item" src="http://farm3.staticflickr.com/2885/8909912190_163616184f_q.jpg" />
        <div class="caption">
            <p>Fun time Luxx</p>
        </div>
    </a>
</article>


<article class="tile ftg-set-1">
    <a href="http://farm6.staticflickr.com/5467/8909812740_17b1244623_z.jpg">
        <img class="item" src="http://farm6.staticflickr.com/5467/8909812740_17b1244623_n.jpg" />
        <div class="caption">
            <p></p>
        </div>
    </a>
</article>


<article class="tile ftg-set-1">
    <a href="http://farm8.staticflickr.com/7455/8909185379_9fc5b34954_z.jpg">
        <img class="item" src="http://farm8.staticflickr.com/7455/8909185379_9fc5b34954_q.jpg" />
        <div class="caption">
            <p></p>
        </div>
    </a>
</article>


<article class="tile ftg-set-3">
    <a href="http://farm6.staticflickr.com/5334/8909203231_10190ea5bc_z.jpg">
        <img class="item" src="http://farm6.staticflickr.com/5334/8909203231_10190ea5bc_m.jpg" />
        <div class="caption">
            <p></p>
        </div>
    </a>
</article>


<article class="tile ftg-set-1">
    <a href="http://farm8.staticflickr.com/7410/8909200809_05e52833be_z.jpg">
        <img class="item" src="http://farm8.staticflickr.com/7410/8909200809_05e52833be_q.jpg" />
        <div class="caption">
            <p></p>
        </div>
    </a>
</article>


<article class="tile ftg-set-2">
    <a href="http://farm3.staticflickr.com/2810/8909188709_4080b547f6_z.jpg">
        <img class="item" src="http://farm3.staticflickr.com/2810/8909188709_4080b547f6_q.jpg" />
        <div class="caption">
            <p></p>
        </div>
    </a>
</article>


<article class="tile ftg-set-2">
    <a href="http://farm6.staticflickr.com/5456/8909199963_2782ae7349_z.jpg">
        <img class="item" src="http://farm6.staticflickr.com/5456/8909199963_2782ae7349_n.jpg" />
        <div class="caption">
            <p>Little Monster</p>
        </div>
    </a>
</article>