body {color:#666; background:url('../images/bg.png') 0 0 repeat;}
.col_s1_backgound {background: none repeat scroll 0 0 #cde5fb;}
.col_s2_backgound {background: none repeat scroll 0 0 #FFFFFF;}
.title-register { text-align:  center; text-transform: uppercase; font-size: 20px;text-shadow: 2px 2px white;}
.form-register {width: 70%;}
.div-regu { width: 27%; border: 1px solid #ccc; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; padding: 10px; padding-top: 0px; }
.div-regu .tt-regu { text-align: center; text-transform: uppercase; font-size: 20px; border-bottom: 1px solid #e3e3e3; text-shadow: 1px 1px white;}
.div-regu .ct-regu { width: 100%; }
.ct-input .control-label{ margin: 0px 10px 0px 130px;}
.ct-input { margin-top: 30px;}
.ct-input .row-tt {padding: 5px 0px 5px 120px; border-bottom: 1px solid #ccc; font-weight: bold; font-size: 13px; margin-bottom: 10px;}
.ct-btn {margin-top: 7px; text-align: right}
.sl-bir{ width: 80px;}
.l{float:left}
.r{float: right;}