body {color:#666; background:url('../images/bg.png') 0 0 repeat; margin: 0; padding: 0;}
body, button, input, textarea {font: normal 12px arial,sans-serif;}

.fl {float: left;}
.fr {float: right;}
.nguago, .body:after, header:after, .footer:after {clear: both;}
.clearfix:after{clear:both}
.border {border: #ff0000 1px solid;}

.fix_width {margin: 0 auto; width: 970px;}
.padding {padding: 5px;}

.logo {background: url('../images/logo.png') 0 10px no-repeat; width: 140px; height: 80px; cursor: pointer;}
.search_box {margin: 15px 0 0 58px;}
.header {position: relative;background: url('../images/bg_2.png') 0 0 repeat;}
.header .link {margin:10px 0;}
.header .link ul {list-style: none outside none; display: block;}
.header .link ul li {float: left; margin-left: 5px;}
.body {background: none repeat scroll 0 0 transparent; position: relative; overflow: hidden;}
.footer {background: url('../images/bg_2.png') 0 0 repeat; position: relative; overflow: hidden; margin-top: 10px; padding: 10px;}
.footer .info {line-height: 17px; color: #cbcbcb; text-align: right;}
.footer .info .labelinfo {font-weight: bold; color: #008200;}

.margin_top {margin-top: 20px;}

.heading_s1, .heading_s2, .heading_s3, .heading_s4, .heading_s5, .heading_s6 {margin: 0;font-family: inherit;font-weight: bold; text-rendering: optimizelegibility;}
.heading_s1 {font-size: 20px; margin: 15px 0 5px 0;}
.heading_s2 {font-size: 14px; margin: 15px 0 5px 0;}
.heading_tabs {text-align: right; margin: 10px 0 -30px 0;}

.text_shadow_s1 {text-shadow:0 1px 1px #fff;}

.col_s1 {}
.col_s2 {}
.col_s3 {}
.col_s4 {background: url('../images/bg_3.png') 0 0 repeat;}
.col_s1_backgound {background: none repeat scroll 0 0 #cde5fb; height: 100%; left: 0; position: absolute; /*top: 5px; */width: 200px; z-index: -1;}
.col_s2_backgound {background: none repeat scroll 0 0 #FFFFFF; border-top-right-radius: 5px; height: 100%; left: 200px; position: absolute; top: 0; width: 465px; z-index: -1;}
.col_s23_backgound {background: transparent; height: 100%; left: 200px; position: absolute; top: 0; width: 770px; z-index: -1;}

.thumbnails_s1 {margin-left: 0;}
.thumbnails_s1 li {margin-left: 15px; margin-bottom: 15px;}
.thumbnails_s1 .thumbnail {margin-bottom: 5px; position: relative;}
.thumbnails_s1 .thumbnail span.sp-episode {background-color: black; border: 1px solid #999999; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; bottom: 6px; color: white; left: 7px; opacity: 0.8; padding: 5px; position: absolute;}
.thumb_s1 {width: 130px;}
.thumb_s2 {width: 43px; height: 55px;}

.line_s1 {border-bottom: 1px solid #DDD; margin: 5px 0 5px 0;}

.list_s1 {}
.list_s1 .row {}
.list_s1 .row .line_info {text-align: center;}

.object_title {color: #666; font: bold 20px arial,sans-serif; margin-bottom: 10px;}

/* Category */
.list_category {display: block; visibility: visible;}
.list_category .item {float: left; display: inline-block; vertical-align: top; position: relative; border: 1px #c6c6c6 solid; margin: -1px -1px 0 0; overflow: hidden;}
.list_category .item.hover {background: url('../images/bg_3.png') 0 0 repeat;}
.list_category .item .item_content {padding: 5px;}
.list_category .item .item_thumb {width: 90px; height: 130px; text-align: center; position: relative;}
.list_category .item .item_thumb img {width: 90px; height: 130px;}
.list_category .item .item_thumb .label {position: absolute; bottom: 5px; left: 5px;}
.list_category .item .item_info {position: absolute; top: 5px; right: 5px; width: 80px; height: 130px;}
.list_category .item .item_info .item_button {text-align: left; margin-top: 1px; position: absolute; top: 0; left: 0px;}
.list_category .item .item_info .item_button .item_row {margin-bottom: 5px; cursor: pointer;}
.list_category .item .item_info .item_stats {position: absolute; bottom: 0; left: 0; text-align: left;}
.list_category .item .item_title {margin-top: 3px;}

.filter .btn-toolbar {margin-top: 0;}
.filter .form-search {margin-top: -5px; margin-bottom: 10px;}

/* Film */
#letplayer object, .episode {margin-bottom: 10px;}
.episode_source {font-weight: bold;}
.episode .label {margin: 3px 0;}
/*table {background: #498BF4; border: 0;}*/
.episode table tr {}
.episode table tr th, .episode table tr td {padding: 5px; border-bottom: 1px #c6c6c6 solid;}
/*table tr th {background: url('../images/bg_3.png') 0 0 repeat;}
table tr td {background: url('../images/bg_3.png') 0 0 repeat;}*/
.film_details .images {width: 256px;}
.film_details .item_content {width: 480px;}

/*///////////////////////////////// YOUTUBE /////////////////////////////////*/
.episode .context-body {padding: 0;}
#watch-description-extra-info {margin: 0; width: 100%; min-height: 20px;}
#watch-actions {width: auto;}
.episode a.yt-uix-button {margin-bottom: 5px;}

/*///////////////////////////////// YOUTUBE CHANEL /////////////////////////////////*/
.other-channels-compact .channel-summary-list li{margin-bottom:5px}
.channel-summary-compact .channel-summary-thumb{float:left;margin-right:10px}
.channel-summary-compact .channel-summary-info {margin-top: 5px;}
.channel-summary-compact .channel-summary-title{font-size:13px}
.channel-summary .channel-summary-title{margin-top:5px;height:18px;line-height:18px;overflow:hidden;white-space:nowrap;word-wrap:normal;*zoom:1;-o-text-overflow:ellipsis;text-overflow:ellipsis}
.channel-summary-info .subscriber-count{font-size:11px;color:#666;display:block;overflow:hidden}
.channel-summary-info .subscriber-count strong{font-weight:normal}
.label {color: #FFF;}

/*///////////////////////////////// Bootstrap /////////////////////////////////*/
.well {padding: 10px; margin-bottom: 0;}
.list_category .well {padding: 0;}
.ct-r{margin-top: 10px;}