body{background-color:#000000 !important;}
.bovn-container{ width: 1024px; margin: 0px auto}
.clear{
    clear: both;
}
.contact_bovn{
    margin-top:10px;
    height: 400px;
    width: 450px;
    float: left;
}
.left_contact_bovn{
    float: left;
    width: 100px;
    height: 20px;
    margin-bottom: 5px;
}
.left_contact_bovn span{
    padding-top: 5px;
    color:#39B54A;
    font-weight: bold;
}
.right_contact_bovn{
    float: left;
    height: 20px;
    margin-bottom: 5px;
}
.right_contact_bovn input{
    width: 200px;
    color: #ffffff;
}
.contact_bovn textarea{
    color: #ffffff;
}
.btn_contact{
    margin-left: 103px;
}
.btn_contact button{
    border: 1px solid #39B54A;
    background-color: #39B54A;
    cursor: pointer;
}
.mycontent{
    float: left;
}
.mycontent li a img{
    border: 1px solid #B2B2B2;
    float: left;
    margin-right:5px;
}
ul.mycontent li{
    float: left;
    width: 100%;
    list-style-type: none !important;
}
.mycontent li a{
    margin-top: 5px;
    color: #39B54A;
    font-size: 12px;
    font-weight: bold;
}
.mycontent li span{
    display: block;
    padding: 5px 0 0px;
}
#content p, #content div{
    color: black;
}
.prod_desc{
    width: 640px !important;
}
html>/**/body .clas_hr{margin-top:0px}
.clas_hr{
    /* màu đỏ sẽ được dùng ở google chrome */
    margin-top:0px;
(-bracket-:hack;
    margin-top:70px!important;
);
}

