/* Area di scorrimento */
.slide-image-bottom {
    width: 940px;
	height: 150px;
	overflow: hidden;
    display: block;
	padding: 0px;
    margin: 0;
	clear:left;
	margin-left: 55px;
}
.slide-image-bottom .image-left{
    width: 10px;
	height: 150px;
	overflow: hidden;
    display: block;
	padding: 0px;
    margin: 0;
	float: left;
    background: url(../images/image-left.png) no-repeat left top;
}
.slide-image-bottom .image-center{
    width: 900px;
	height: 150px;
	overflow: hidden;
    display: block;
	padding: 0px;
    margin: 0;
	float: left;
    background: url(../images/image-center.png) repeat-x left top;
} 
.slide-image-bottom .image-center #left{
    width: 980px;
	height: 130px;
	overflow: hidden;
    display: block;
	padding: 0px;
    margin: 10px auto;
	clear: left;
} 
.slide-image-bottom .image-center #left img{
    height: 130px;
	margin: 0px;
	border: 0px;
	clear:both;
} 
.slide-image-bottom .image-right{
    width: 10px;
	height: 150px;
	overflow: hidden;
    display: block;
	padding: 0px;
    margin: 0;
	float: left;
    background: url(../images/image-right.png) no-repeat left top;
} 
#left img{margin-right:5px !important;}
