/* Start of CMSMS style sheet 'new_main' */
* {font-family:Verdana;}
		body { margin:0px;padding:0px;/*background-color:#000;*/ }
h1 { color:#b3b3b3;font-size:18px;}
		h1.nomar { margin-top:0px;margin-left:20px;}
		h1.dark { color:#333333;font-size:18px;}

		h2 { color:#39b54a;font-family:Verdana;font-size:12px; margin-top:5px;margin-bottom:5px;}
		div.txt { color:#b3b3b3;font-family:Verdana;font-size:12px;text-align:justify;margin-top:0px;line-height: 20px;}
		li {font-family:Verdana;list-style:none;margin:0px;padding:0px;font-size:10px;}
		ul {margin:0px;padding:0px;}
		.small { font-size:11px;}
a img { border:0px solid; }
a { text-decoration:none;color:#666666; }
		
		// columns;
		.screenContainer div {
			float: left;
			/* width: 18em;	When using a fixed number of columns, you can omit the width. Otherwise it must be set! This will be the *minimum* width of a column*/
			padding: 20px;	/* You may use a padding... but thanks to IE you can only use pixels! */
			position: relative;
			text-align: justify;
color:#
			margin: 0; 		/* Don't use a margin! */
		}

input,textarea { background:transparent;border:1px solid;width:100%;padding:2px;font-size:12px;margin:5px;}
		textarea { height:150px;}
		input.subm {background-color:#4d4d4d;border:1px solid #4d4d4d;text-align:left;}
		div.smalldark { padding-left:10px;padding-right:10px;padding-bottom:20px;}

.prod_desc {
width:590px;background-color:#b2b2b2;font-size:11px;color:#666666;padding:10px;margin-top:10px;
}
.prod_desc * {
font-size:11px;color:#4c4c4c;
}

.prdtable th {
text-align:left;
}
.prdtable td, .prdtable th {
border-bottom:1px solid;
padding:0px;
padding-top:7px;
}

.prdtable table {
border-collapse: collapse;
}

.listprod1 .hidproduct {
display:none;
}

.hidproduct p{
font-size:11px;
}

.hidproduct p a{
font-size:11px;text-decoration:underline;color:#4d4d4d;
}

.hidproduct {
width:600px;
}

#content p,#content,.listprod a{
color:#b2b2b2;font-size:11px;
}


input,textarea { background:transparent;border:1px solid #b2b2b2;width:285px;padding:2px;font-size:12px;margin:5px;}
textarea { height:150px;}
input.subm {background-color:#4d4d4d;border:1px solid #4d4d4d;color:#b2b2b2;text-align:left;}

div.smalldark, div.smalldark p,div.smalldark a { color:#333333;font-family:Verdana;font-size:10px;text-align:justify;margin-top:0px;}

.footr ul li,.footr div{
color:#b2b2b2;
}

.contacts div input, .contacts div textarea{
color:#b2b2b2;
width:250px;
}
.captcha { padding: 5px;}
.captcha input { width:100px !important; }

#columns div ul li {
list-style-type: disc;
}

.stocklist th{
border-bottom:1px solid;
}
.stocklist td, .stocklist th {
text-align:left;
border-bottom:1px solid;
padding:7px 0 0;
}
.stocklist {
border-collapse: collapse;
}
.prod_button {
border:1px solid #CCCCCC;padding:5px;text-align:center;background:#666;color:#b2b2b2;
height:30px;
width:150px;
}
.prod_button h4 a {
color:#CCCCCC;
}

#warranty div, #warranty p, #warranty, #satisfaction, #satisfaction div, #satisfaction p, #delivery, #delivery p, #delivery div {
font-size:12px;
}
#delivery a {
color:#4C4C4C;
}
#warranty h2 {
margin-top:10px;
margin-bottom:0px;
}
/* End of 'new_main' */

.advertise
{
    width:220px;
    height:200px;
    overflow:hidden;
    clear:left;  
}
.advertise a{text-align:center; clear:left;}
.menu-header{width:100%; height:37px; background:#ccc; text-align:center; line-height:37px; color:#000;margin-top:20px;}