.pin_list .row {border-bottom: 1px solid #ccc; margin-top: 40px; padding-bottom: 40px; position: relative;}
.pin_list .row:after {clear: both;content: ".";display: block;height: 0;visibility: hidden;}
.pin_list .row .content img {max-width: 550px;}
/*.pin_details .pin_content {max-width: 570px;}*/
.pin_details .pin_content img {max-width: 605px;}
.icon_play2 {width: 64px; height: 64px; background: url('../images/icon_play.png') 0 0 no-repeat; position: absolute; top: 50%; left: 50%; margin: -32px 0 0 -32px; z-index: 1000;}

.userinfo_box {background: url('../images/user_background.jpg') 0 0 no-repeat; width: 950px; height: 274px; position: relative;}
.userinfo_box .avatar {width: 170px; height: 170px; position: absolute; top: 30px; left: 20px; padding: 3px; border: 1px #ccc solid; background: #fff;}
.userinfo_box .avatar img {width: 170px; height: 170px;}
.userinfo_box .fullname {position: absolute; top: 165px; left: 205px; font: bold 20px Arial;}
.userinfo_box .user_stats {position: absolute; top: 192px; left: 205px; color: #666;}
.userinfo_box .user_tab {position: absolute; top: 242px; left: 0px; width: 100%;}
